.vector-icon111 {
  position: relative;
  width: 15px;
  height: 20.21px;
}
.frame107 {
  width: 24px;
  padding: 2.074341297149658px var(--padding-8xs-5) 1.7110686302185059px
    4.499998092651367px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.divcss-1iuj5ih,
.frame107,
.svg111 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg111 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.divcss-1iuj5ih {
  padding: var(--padding-0) var(--padding-0) var(--padding-0) var(--padding-9xs);
  justify-content: flex-start;
}
.experiences-by-level {
  position: relative;
  line-height: 28px;
}
.pchakra-text220 {
  padding: var(--padding-0) 3.3899993896484375px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack302,
.divcss-e03czl8,
.pchakra-text220 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divchakra-stack302 {
  align-items: center;
  gap: var(--gap-9xs);
}
.divcss-e03czl8 {
  position: absolute;
  height: calc(100% - 441px);
  top: -41.5px;
  bottom: 482.5px;
  left: calc(50% - 551.5px);
  padding: var(--padding-0) 1001.6099853515625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  color: var(--color-darkgray);
}
.level-beginners {
  position: relative;
  line-height: 40px;
}
.divchakra-stack303 {
  width: 312.08px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 3.079986572265625px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.go-to-learn {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
}
.divcss-87dp0f,
.pchakra-text221 {
  display: flex;
  align-items: flex-start;
}
.pchakra-text221 {
  width: 312.08px;
  flex-direction: row;
  padding: var(--padding-0) 238.07998657226562px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
}
.divcss-87dp0f {
  position: absolute;
  height: calc(100% - 190px);
  width: calc(100% - 121.92px);
  top: 95px;
  right: 67.92px;
  bottom: 95px;
  left: 54px;
  flex-direction: column;
  justify-content: space-between;
}
.cover-adventure-ens-ownerpng-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 192px;
  height: 192px;
  object-fit: cover;
}
.span83 {
  position: absolute;
  height: calc(100% - 14px);
  width: 100%;
  top: 7px;
  right: 0;
  bottom: 7px;
  left: 0;
  overflow: hidden;
}
.divcss-l84sf8 {
  position: absolute;
  height: calc(100% - 50px);
  width: calc(100% - 391px);
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 366px;
}
.link9 {
  position: absolute;
  width: calc(100% - 647px);
  top: calc(50% - 127.5px);
  right: 647px;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  height: 256px;
}
.vector-icon112 {
  position: relative;
  width: 7.5px;
  height: 14.87px;
}
.frame108 {
  width: 32px;
  display: flex;
  flex-direction: row;
  padding: 8.5600004196167px var(--padding-xs-5) 8.569999694824219px
    var(--padding-smi);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-1qu85kq,
.svg112 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.svg112 {
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.divcss-1qu85kq {
  position: absolute;
  width: calc(100% - 1049px);
  top: calc(50% - 15.5px);
  right: 533px;
  left: 516px;
  align-items: center;
  transform: rotate(180deg);
  transform-origin: 0 0;
  min-width: 32px;
  min-height: 32px;
}
.divchakra-stack304,
.pchakra-text222,
.pchakra-text223 {
  width: 226.58px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text222 {
  flex-direction: row;
  padding: var(--padding-0) 5.5800018310546875px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
}
.divchakra-stack304,
.pchakra-text223 {
  flex-direction: column;
}
.pchakra-text223 {
  flex-direction: row;
  padding: var(--padding-0) 146.5800018310547px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.divcss-87dp0f1,
.divcss-87dp0f2 {
  position: absolute;
  height: calc(100% - 190px);
}
.divcss-87dp0f1 {
  width: calc(100% - 213.42px);
  top: 88px;
  right: 137.42px;
  bottom: 102px;
  left: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.divcss-87dp0f2 {
  width: calc(100% - 356.42px);
  top: 22.01px;
  right: 64.42px;
  bottom: 167.99px;
  left: 292px;
}
.divcss-3foxgv {
  position: absolute;
  width: calc(100% - 641px);
  top: calc(50% - 127.5px);
  right: 75px;
  left: 566px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  height: 256px;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-500);
}
.divcss-197myp7 {
  position: absolute;
  height: calc(100% - 330px);
  width: calc(100% - 43px);
  top: 66px;
  right: -32px;
  bottom: 264px;
  left: 75px;
  font-size: var(--font-size-11xl);
}
.vector-icon113 {
  position: relative;
  width: 17.27px;
  height: 17.27px;
}
.frame109 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 1.3625000715255737px 1.361249327659607px 1.3700000047683716px
    1.3725000619888306px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.svg113 {
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.pchakra-text224,
.spanchakra-button-icon49,
.svg113 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.spanchakra-button-icon49 {
  position: absolute;
  width: calc(100% - 200px);
  top: calc(50% - 10px);
  right: 185px;
  left: 15px;
  justify-content: flex-start;
}
.pchakra-text224 {
  padding: var(--padding-0) 0.8800010681152344px var(--padding-12xs)
    var(--padding-11xs);
  justify-content: center;
}
.divcss-1ldmaet7 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-200);
  width: 8px;
  height: 8px;
}
.divcss-go2wv20 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.div7 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
}
.pchakra-text225 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}
.divchakra-stack308 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 7.060001373291016px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-darkslategray-100);
}
.divcss-e03czl9 {
  position: absolute;
  width: calc(100% - 58px);
  top: calc(50% - 13px);
  right: 17px;
  left: 41px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.button55,
.divchakra-stack307 {
  width: 220px;
  box-sizing: border-box;
}
.button55 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  height: 48px;
  min-width: 40px;
}
.divchakra-stack307 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-0);
  align-items: center;
  justify-content: flex-start;
}
.vector-icon114 {
  position: relative;
  width: 13.94px;
  height: 15.67px;
}
.frame110 {
  width: 20px;
  padding: 2.1237499713897705px 3.0199999809265137px 2.2087504863739014px
    3.0425000190734863px;
  box-sizing: border-box;
}
.frame110,
.spanchakra-button-icon50 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home7 {
  position: absolute;
  top: -1px;
  left: calc(50% - 21.97px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.14px;
  height: 21px;
}
.pchakra-text226 {
  position: relative;
  width: 43.94px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button56 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 136.05999755859375px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.vector-icon115 {
  position: relative;
  width: 13.1px;
  height: 14.77px;
}
.frame111 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 3.0225000381469727px 3.021249771118164px 2.2062501907348633px 3.875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level7 {
  position: absolute;
  top: -1px;
  left: calc(50% - 36.94px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.09px;
  height: 21px;
}
.pchakra-text227 {
  position: relative;
  width: 73.89px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button57 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 106.11000061035156px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.vector-icon116 {
  position: relative;
  width: 15.6px;
  height: 15.63px;
}
.frame112 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1875px 2.187500238418579px 2.1875px 2.211250066757202px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience7 {
  position: absolute;
  top: -1px;
  left: calc(50% - 38.46px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.12px;
  height: 21px;
}
.pchakra-text228 {
  position: relative;
  width: 76.92px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button58 {
  position: absolute;
  top: 76px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 103.08000183105469px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-600);
}
.divchakra-stack309 {
  position: relative;
  width: 220px;
  height: 111px;
}
.frame113,
.pchakra-text229 {
  width: 53.61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame113 {
  width: 20px;
  padding: 1.3523246049880981px 1.3549989461898804px 1.3750008344650269px
    1.3749529123306274px;
  box-sizing: border-box;
}
.account15 {
  position: absolute;
  top: -1px;
  left: calc(50% - 30.76px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.72px;
  height: 21px;
}
.pchakra-text230 {
  position: relative;
  width: 61.52px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button59 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 118.47999572753906px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack310,
.pchakra-text231 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack310 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.pchakra-text231 {
  width: 68.31px;
  flex-direction: row;
  padding: var(--padding-0) 0.30999755859375px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.vector-icon118 {
  position: relative;
  width: 17.27px;
  height: 8.94px;
}
.frame114 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 5.521912574768066px 1.3549995422363281px 5.539459228515625px 1.375px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.links7 {
  position: absolute;
  top: -1px;
  left: calc(50% - 19.11px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.43px;
  height: 21px;
}
.pchakra-text232 {
  position: relative;
  width: 38.23px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button60 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 141.77000427246094px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack306,
.divcss-y0pad7 {
  position: absolute;
  border-radius: var(--br-xl);
  width: 305px;
  height: 519px;
}
.divchakra-stack306 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.divcss-y0pad7 {
  top: -113px;
  left: -152.5px;
  background-color: var(--color-white);
}
.divchakra-stack305 {
  position: absolute;
  height: calc(100% - 66px);
  top: 83px;
  bottom: -17px;
  left: -162.5px;
  width: 305px;
  text-align: center;
  font-size: var(--font-size-sm);
}
.divchakra-stack301 {
  position: absolute;
  margin: 0 !important;
  top: 144px;
  left: 331px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 1124px;
  height: 469px;
  z-index: 1;
}
.vector-icon119 {
  position: relative;
  width: 15.42px;
  height: 10.67px;
}
.button-filter1,
.frame115 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.frame115 {
  width: 20px;
  padding: 4.667500019073486px 2.2912497520446777px 4.6650004386901855px
    2.2925000190734863px;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-filter1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}
.vector-icon120 {
  position: relative;
  width: 15.54px;
  height: 15.54px;
}
.frame116,
.svg120 {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame116 {
  padding: 2.2699999809265137px 2.228750467300415px 2.187500476837158px
    2.228749990463257px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.svg120 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  z-index: 1;
}
.search-experiences {
  position: relative;
  letter-spacing: 0.28px;
}
.form1,
.input1 {
  box-sizing: border-box;
}
.input1 {
  width: 346px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-230xl) var(--padding-12xs)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.form1 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 400px;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-mini);
  align-items: center;
  gap: var(--gap-7xs);
}
.divchakra-stack312,
.divchakra-stack313,
.divcss-1si4p9s1,
.form1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divcss-1si4p9s1 {
  flex: 1;
  align-items: flex-start;
}
.divchakra-stack312,
.divchakra-stack313 {
  align-items: center;
}
.divchakra-stack313 {
  flex: 1;
  gap: var(--gap-base);
}
.divchakra-stack312 {
  overflow: hidden;
  max-width: 1662px;
}
.newest1 {
  position: relative;
  letter-spacing: 0.28px;
  line-height: 16px;
}
.pchakra-text233 {
  width: 131px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-63xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon121 {
  position: relative;
  width: 9.29px;
  height: 4.65px;
}
.frame117 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 8.144999504089355px 5.3550004959106445px 7.210000038146973px
    5.353750228881836px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button61,
.divchakra-stack314 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button61 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 189px;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-3xs)
    var(--padding-mid);
  justify-content: center;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.divchakra-stack314 {
  justify-content: flex-start;
  color: var(--color-gray-600);
}
.divcss-1y21ojc7,
.divcss-jkl58t7 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.divcss-jkl58t7 {
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-snow);
  border-bottom: 1px solid var(--color-linen-200);
  width: 1478px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-smi);
  justify-content: space-between;
  min-height: 64px;
  z-index: 0;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.divcss-1y21ojc7 {
  position: absolute;
  width: 100%;
  top: calc(50% - 504px);
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-linen-100);
  border: 1px solid var(--color-linen-200);
  flex-direction: column;
  padding: var(--padding-12xs);
  justify-content: flex-start;
  max-width: 1676px;
  min-height: 1008px;
}
.divcss-1y21ojc-wrapper {
  position: relative;
  width: 1485px;
  height: 1008px;
  z-index: 0;
}
.divchakra-stack300,
.page-level {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack300 {
  width: 1497px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-xs);
  box-sizing: border-box;
  z-index: 0;
}
.page-level {
  position: relative;
  width: 100%;
  height: 982px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-mediumslateblue-100);
  font-family: var(--font-inter);
}
