.divchakra-stack-item {
  position: relative;
  width: 138.51px;
  height: 127.99px;
  object-fit: cover;
}
.divcss-1uod83n1 {
  position: relative;
  width: 1px;
  height: 1px;
}
.divchakra-stack35 {
  position: absolute;
  width: calc(100% - 1205.36px);
  top: calc(50% - 54.5px);
  right: 1193.36px;
  left: 12px;
  height: 109px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-165xl);
}
.vector-icon14 {
  position: relative;
  width: 20.72px;
  height: 20.73px;
}
.button-help1,
.frame14,
.svg14 {
  display: flex;
  flex-direction: row;
}
.frame14 {
  width: 24px;
  padding: 1.6227798461914062px 1.6259992122650146px 1.6511497497558594px
    1.6497175693511963px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-help1,
.svg14 {
  justify-content: center;
}
.svg14 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.button-help1 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  padding: var(--padding-xs);
  align-items: center;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
}
.image9 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.image8 {
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 32px;
  z-index: 0;
}
.wallet2f170466svg-icon1 {
  position: relative;
  width: 32.01px;
  height: 32.02px;
  overflow: hidden;
  flex-shrink: 0;
}
.span10,
.spanchakra-button-icon7,
.wallet2f170466svg1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.wallet2f170466svg1 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  justify-content: center;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  z-index: 1;
}
.span10,
.spanchakra-button-icon7 {
  justify-content: flex-start;
}
.span10 {
  overflow: hidden;
  position: relative;
  max-width: 32px;
}
.spanchakra-button-icon7 {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 120px);
  top: 8px;
  right: 106.77px;
  bottom: 8px;
  left: 13.23px;
}
.id-010271 {
  position: relative;
  line-height: 16px;
  font-weight: 900;
}
.pchakra-text30 {
  position: absolute;
  height: calc(100% - 31px);
  width: calc(100% - 68.47px);
  top: 15px;
  right: 14.24px;
  bottom: 16px;
  left: 54.23px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.529998779296875px var(--padding-12xs)
    var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.button8 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumslateblue-100);
  width: 152px;
  height: 48px;
  min-width: 40px;
}
.divchakra-stack36,
.divcss-06 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack36 {
  position: absolute;
  width: calc(100% - 1280.36px);
  top: calc(50% - 24px);
  right: 12px;
  left: 1268.36px;
  align-items: center;
  gap: var(--gap-5xs);
}
.divcss-sdkmul1 {
  position: absolute;
  top: 0;
  left: 0.06px;
  background-color: var(--color-white);
  width: 1488.36px;
  height: 126px;
  transform: rotate(0.03deg);
  transform-origin: 0 0;
  text-align: center;
}
.image11 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.image10 {
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 24px;
  z-index: 0;
}
.mirror938c2527png-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span11 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 292px;
  z-index: 1;
}
.inch-swap1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack40,
.pchakra-text31 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text31 {
  padding: var(--padding-0) var(--padding-lgi) var(--padding-0) var(--padding-0);
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack40 {
  width: 292px;
  align-items: center;
  gap: var(--gap-9xs);
}
.swap-dai-to1 {
  position: relative;
  line-height: 36px;
}
.divchakra-stack39,
.pchakra-text32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text32 {
  width: 241.09px;
  flex-direction: row;
  padding: var(--padding-0) 4.089996337890625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-500);
}
.divchakra-stack39 {
  width: 292px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.vector-icon15 {
  position: relative;
  width: 9.67px;
  height: 9.67px;
}
.frame15 {
  width: 16px;
  display: flex;
  flex-direction: row;
  padding: 3.1679999828338623px 3.1670002937316895px 3.1650002002716064px
    3.1659998893737793px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-go2wv2,
.svg15 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.svg15 {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.divcss-go2wv2 {
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.divchakra-stack43,
.pchakra-text33 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text33 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack43 {
  border-radius: var(--br-13xl);
  background-color: var(--color-blanchedalmond);
  padding: var(--padding-11xs) 7.6100006103515625px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  gap: var(--gap-11xs);
}
.optimism202c83a8png1 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen-100);
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span12 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 24px;
}
.divchakra-stack42,
.divcss-dga45d1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divcss-dga45d1 {
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
}
.divchakra-stack42 {
  width: 120.61px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkgoldenrod);
}
.vector-icon16 {
  position: relative;
  width: 13.26px;
  height: 12.74px;
}
.frame16 {
  width: 16px;
  padding: 1.5427794456481934px 1.575689673423767px 1.7149996757507324px
    1.1660000085830688px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack45,
.frame16,
.pchakra-text34 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text34 {
  width: 104px;
  padding: var(--padding-0) var(--padding-49xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack45 {
  position: absolute;
  width: calc(100% - 53.72px);
  top: calc(50% - 10px);
  right: 53.72px;
  left: 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.swap-token-a1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text35 {
  position: absolute;
  width: calc(100% + 119px);
  top: calc(50% - 12.71px);
  right: -225.58px;
  left: 106.58px;
  height: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.divchakra-stack44,
.vector-icon17 {
  position: relative;
  width: 181.72px;
  height: 24px;
}
.vector-icon17 {
  width: 12.33px;
  height: 12.33px;
}
.frame17 {
  width: 16px;
  padding: 1.8320000171661377px 1.8329998254776px 1.8339993953704834px
    1.8339999914169312px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack47,
.frame17,
.pchakra-text36 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text36 {
  width: 104px;
  padding: var(--padding-0) var(--padding-60xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack47 {
  position: absolute;
  width: calc(100% - 47px);
  top: calc(50% - 10px);
  right: 40px;
  left: 7px;
  align-items: center;
  gap: var(--gap-5xs);
}
.facile1 {
  position: absolute;
  top: 0;
  left: -1px;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text37 {
  position: absolute;
  width: calc(100% - 134.75px);
  top: calc(50% - 12.71px);
  right: 27.17px;
  left: 107.58px;
  height: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.divchakra-stack46 {
  position: relative;
  width: 175px;
  height: 24px;
  font-size: var(--font-size-xs);
}
.vector-icon18 {
  position: relative;
  width: 13.82px;
  height: 13.82px;
}
.frame18 {
  width: 16px;
  padding: 1.0818532705307007px 1.0839992761611938px 1.100000023841858px
    1.0998042821884155px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack49,
.frame18,
.pchakra-text38 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text38 {
  width: 104px;
  padding: var(--padding-0) var(--padding-32xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack49 {
  position: absolute;
  width: calc(100% - 51.23px);
  top: calc(50% - 10px);
  right: 51.23px;
  left: 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.pchakra-text39 {
  position: absolute;
  width: calc(100% - 43px);
  top: calc(50% - 12.71px);
  right: -63.58px;
  left: 106.58px;
  height: 25px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
}
.divchakra-stack48 {
  position: relative;
  width: 179.23px;
  height: 24px;
}
.divchakra-stack38,
.divchakra-stack41 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divchakra-stack41 {
  width: 603.17px;
  overflow: hidden;
  padding: var(--padding-0) 421.4499816894531px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.divchakra-stack38 {
  position: absolute;
  height: calc(100% - 470px);
  top: 0;
  bottom: 470px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 637.17px;
  padding: var(--padding-mid);
  font-size: var(--font-size-xs);
}
.vector-icon19 {
  position: relative;
  width: 17.17px;
  height: 12.75px;
}
.frame19,
.svg19 {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame19 {
  padding: 3.081249952316284px 1.4174997806549072px 4.168749809265137px
    1.4162499904632568px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.svg19 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.requirements {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.divchakra-stack51,
.pchakra-text40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text40 {
  padding: var(--padding-0) 4.25px var(--padding-0) var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack51 {
  position: absolute;
  height: calc(100% - 132px);
  width: calc(100% - 473.92px);
  top: 17px;
  right: 458.92px;
  bottom: 115px;
  left: 15px;
  align-items: center;
  gap: var(--gap-7xs);
}
.button-checkbox {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
}
.divcss-rlhbmu {
  position: absolute;
  width: calc(100% - 577.17px);
  top: calc(50% - 28px);
  right: 565.17px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.read-what-is {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text41 {
  width: 347.92px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 12.920013427734375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.image15 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.image14 {
  width: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 16px;
  z-index: 0;
}
.optimism202c83a8png-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  object-fit: cover;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.span13 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 16px;
}
.sign-transaction-with {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack55 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  flex-direction: row;
  padding: var(--padding-11xs) 7.80999755859375px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  gap: var(--gap-11xs);
}
.divchakra-stack53,
.divchakra-stack54,
.divchakra-stack55 {
  display: flex;
  justify-content: flex-start;
}
.divchakra-stack54 {
  width: 91.81px;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.divchakra-stack53 {
  position: absolute;
  width: calc(100% - 253.25px);
  top: calc(50% - 29px);
  right: 209.25px;
  left: 44px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.divcss-p9xbm1 {
  position: relative;
  width: 601.17px;
  height: 80px;
}
.divchakra-stack50,
.divchakra-stack52 {
  position: absolute;
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
}
.divchakra-stack52 {
  height: calc(100% - 78px);
  width: calc(100% - 34px);
  top: 61px;
  right: 17px;
  bottom: 17px;
  left: 17px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack50 {
  height: calc(100% - 572px);
  top: 286px;
  bottom: 286px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 637.17px;
}
.vector-icon20 {
  position: relative;
  width: 17.27px;
  height: 8.94px;
}
.frame20 {
  width: 20px;
  padding: 5.521912574768066px 1.3549995422363281px 5.539459228515625px 1.375px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack57,
.frame20,
.pchakra-text43 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text43 {
  padding: var(--padding-0) var(--padding-10xs-5) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack57 {
  position: absolute;
  height: calc(100% - 108px);
  width: calc(100% - 480.67px);
  top: 17px;
  right: 465.67px;
  bottom: 91px;
  left: 15px;
  align-items: center;
  gap: var(--gap-7xs);
}
.vector-icon21 {
  position: relative;
  width: 13.82px;
  height: 7.15px;
}
.divcss-a20ioa,
.frame21 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.frame21 {
  width: 16px;
  padding: 4.417530059814453px 1.0839999914169312px 4.431567192077637px
    1.100000023841858px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-a20ioa {
  position: absolute;
  top: calc(50% - 16px);
  left: 12px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-linen-200);
  width: 32px;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.link2 {
  position: absolute;
  width: calc(100% - 476.51px);
  top: calc(50% - 13px);
  right: 442.01px;
  left: 34.5px;
}
.https1inchio {
  position: absolute;
  top: 15.5px;
  left: 69px;
  line-height: 24px;
  font-weight: 500;
}
.divcss-p9xbm11 {
  position: relative;
  width: 601.17px;
  height: 56px;
}
.divchakra-stack56 {
  position: absolute;
  height: calc(100% - 596px);
  top: 470px;
  bottom: 126px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 637.17px;
}
.divchakra-stack37 {
  position: absolute;
  height: calc(100% - 467px);
  width: calc(100% - 458px);
  top: 233.5px;
  right: 410px;
  bottom: 233.5px;
  left: 48px;
}
.frame22 {
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}
.svg22,
.vector-icon22 {
  position: absolute;
  overflow: hidden;
}
.svg22 {
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
}
.vector-icon22 {
  height: 4.14%;
  width: 11.37%;
  top: 42.49%;
  right: 87.17%;
  bottom: 53.37%;
  left: 1.46%;
  max-width: 100%;
  max-height: 100%;
}
.description2 {
  position: absolute;
  top: 88.5px;
  left: 26px;
  line-height: 28px;
  font-weight: 600;
}
.pchakra-text44 {
  position: absolute;
  width: calc(100% - 24.11px);
  top: calc(50% - 14px);
  right: -119.89px;
  left: 144px;
}
.divchakra-stack60 {
  position: absolute;
  height: calc(100% - 283px);
  width: calc(100% - 500px);
  top: -54px;
  right: 483px;
  bottom: 337px;
  left: 17px;
}
.pchakra-text-item {
  position: absolute;
  top: 138px;
  left: 478px;
  width: 431px;
  height: 308px;
  object-fit: cover;
}
.this-experience-involves {
  margin: 0;
}
.this-experience-involves-container1 {
  line-break: anywhere;
  width: 100%;
}
.this-experience-involves-container {
  position: absolute;
  top: 138px;
  left: -154px;
  line-height: 30px;
  display: flex;
  align-items: center;
  width: 575px;
}
.pchakra-text45 {
  position: absolute;
  height: calc(100% + 115px);
  width: calc(100% - 33.83px);
  top: 0;
  right: -160.17px;
  bottom: -115px;
  left: 194px;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-100);
}
.divchakra-stack59 {
  position: absolute;
  height: calc(100% - 683px);
  top: 847px;
  bottom: -164px;
  left: calc(50% - 509.59px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 637px;
}
.examples-of-nouns1 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
}
.pchakra-text46 {
  position: absolute;
  height: calc(100% - 385px);
  width: calc(100% - 201.19px);
  top: 328px;
  right: 176.19px;
  bottom: 57px;
  left: 25px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 7.80999755859375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon23 {
  position: relative;
  width: 10.48px;
  height: 11.82px;
}
.frame23 {
  width: 16px;
  display: flex;
  flex-direction: row;
  padding: 2.4179999828338623px 2.4170002937316895px 1.765000581741333px
    3.0999999046325684px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.claim-issue-report1 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.divchakra-stack63,
.pchakra-text47 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text47 {
  padding: var(--padding-0) 1.589996337890625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack63 {
  position: absolute;
  height: calc(100% - 394px);
  width: calc(100% - 216.41px);
  top: 369px;
  right: 191.41px;
  bottom: 25px;
  left: 25px;
  align-items: center;
  gap: var(--gap-9xs);
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray);
}
.j7jl0vs06s3deq80ehhnelx1rq2faz-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 288px;
  object-fit: cover;
}
.capture-decran-2023-07-23-a1,
.span14 {
  position: absolute;
  top: -170.5px;
  left: -141.17px;
  width: 469px;
  height: 448px;
}
.span14 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.divcss-1u95mlq1 {
  position: absolute;
  top: 23.5px;
  left: 24.83px;
  width: 288px;
  height: 288px;
}
.divchakra-stack62 {
  position: absolute;
  height: calc(100% - 322px);
  top: 0;
  bottom: 322px;
  left: calc(50% - 169px);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 338px;
}
.divcss-1ee2lil1,
.pchakra-text48 {
  position: absolute;
  top: calc(50% - 10px);
}
.pchakra-text48 {
  width: calc(100% - 95.18px);
  right: 59.18px;
  left: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.9499969482421875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-1ee2lil1 {
  width: calc(100% - 210.96px);
  right: -5.99px;
  left: 216.95px;
}
.vector-icon24 {
  position: relative;
  width: 21px;
  height: 21px;
}
.dotty-gray418199d2svg3 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs-5);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dotty-gray418199d2svg2,
.span15 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.dotty-gray418199d2svg2 {
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 24px;
  justify-content: center;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span15 {
  width: calc(100% - 262.13px);
  top: calc(50% - 8px);
  right: 254.13px;
  left: 8px;
  overflow: hidden;
  justify-content: flex-start;
  max-width: 286.1300048828125px;
}
.divchakra-stack65 {
  position: relative;
  width: 286.13px;
  height: 36px;
}
.haoxiaoeth-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.divcss-1y1nkkn5 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-linen-200);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divcss-07,
.pchakra-text49 {
  position: absolute;
  width: calc(100% - 288px);
  top: calc(50% - 16px);
  right: 280px;
  left: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text49 {
  width: calc(100% - 56px);
  top: calc(50% - 13px);
  right: 8px;
  left: 48px;
  overflow: hidden;
  padding: var(--padding-0) var(--padding-164xl) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
}
.divchakra-stack67 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 320px;
  height: 40px;
}
.pchakra-text50,
.pchakra-text51,
.pchakra-text52,
.pchakra-text53 {
  position: absolute;
  width: calc(100% - 56px);
  top: calc(50% - 13px);
  right: 8px;
  left: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-174xl) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text51,
.pchakra-text52,
.pchakra-text53 {
  padding: var(--padding-0) var(--padding-170xl) var(--padding-12xs)
    var(--padding-0);
}
.pchakra-text52,
.pchakra-text53 {
  padding: var(--padding-0) var(--padding-155xl) var(--padding-12xs)
    var(--padding-0);
}
.pchakra-text53 {
  padding: var(--padding-0) var(--padding-148xl) var(--padding-12xs)
    var(--padding-0);
}
.divchakra-stack64,
.divchakra-stack66 {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.divchakra-stack64 {
  position: absolute;
  height: calc(100% - 470px);
  top: 469.5px;
  bottom: 0.5px;
  left: calc(50% - 169.17px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 338px;
  padding: var(--padding-4xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.get-started {
  position: relative;
  line-height: 19.2px;
}
.link3 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  padding: 13.399999618530273px 111.2300033569336px 14.600000381469727px
    102.7699966430664px;
  align-items: center;
  justify-content: center;
}
.divframer-gvo3gs-container1 {
  position: absolute;
  top: 394.5px;
  left: calc(50% - 141.17px);
  width: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.divchakra-stack61 {
  position: absolute;
  height: calc(100% - 467px);
  width: calc(100% - 757.17px);
  top: 233.5px;
  right: 48px;
  bottom: 233.5px;
  left: 709.17px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.divcss-fk4jif1 {
  position: absolute;
  top: -35px;
  left: 325px;
  width: 1095.17px;
  height: 1199px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.back-to-all1 {
  position: relative;
  line-height: 32px;
}
.pchakra-text54 {
  position: absolute;
  width: calc(100% - 45.36px);
  top: calc(50% - 17px);
  right: -1.14px;
  left: 46.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 5.6399993896484375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon25 {
  position: relative;
  width: 13.77px;
  height: 13.75px;
}
.button9,
.frame24 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame24 {
  width: 20px;
  padding: 3.125px 3.103750228881836px 3.125px 3.125px;
}
.button9 {
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 36px;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-6xs);
  min-width: 36px;
  min-height: 36px;
}
.divchakra-stack72 {
  position: absolute;
  top: 13.5px;
  left: -31.18px;
  width: 254px;
  height: 36px;
  overflow: hidden;
}
.divcss-1y21ojc1,
.divcss-jkl58t1 {
  position: absolute;
  background-color: var(--color-snow);
  box-sizing: border-box;
}
.divcss-jkl58t1 {
  top: 137px;
  left: 55px;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  border-bottom: 1px solid var(--color-linen-200);
  width: 1431px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.divcss-1y21ojc1 {
  width: calc(100% + 526px);
  top: calc(50% - 727px);
  right: -526px;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-linen-200);
  height: 1433px;
}
.vector-icon26 {
  position: relative;
  width: 17.27px;
  height: 17.27px;
}
.frame25 {
  width: 20px;
  padding: 1.3625000715255737px 1.361249327659607px 1.3700000047683716px
    1.3725000619888306px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame25,
.pchakra-text55,
.spanchakra-button-icon8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.spanchakra-button-icon8 {
  position: absolute;
  width: calc(100% - 200px);
  top: calc(50% - 10px);
  right: 185px;
  left: 15px;
  justify-content: flex-start;
}
.pchakra-text55 {
  padding: var(--padding-0) 0.8800010681152344px var(--padding-12xs)
    var(--padding-11xs);
  justify-content: center;
}
.divcss-1ldmaet1 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-200);
  width: 8px;
  height: 8px;
}
.divcss-go2wv4,
.pchakra-text56 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divcss-go2wv4 {
  padding: var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.pchakra-text56 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack75 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 7.060001373291016px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-darkslategray-100);
}
.divcss-e03czl1 {
  position: absolute;
  width: calc(100% - 58px);
  top: calc(50% - 13px);
  right: 17px;
  left: 41px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.button10,
.divchakra-stack74 {
  width: 220px;
  box-sizing: border-box;
}
.button10 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  height: 48px;
  min-width: 40px;
}
.divchakra-stack74 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-mediumslateblue-100);
}
.vector-icon27 {
  position: relative;
  width: 13.94px;
  height: 15.67px;
}
.frame26 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1237499713897705px 3.0199999809265137px 2.2087504863739014px
    3.0425000190734863px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.home1 {
  position: absolute;
  top: -1px;
  left: calc(50% - 21.97px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.14px;
  height: 21px;
}
.pchakra-text57 {
  position: relative;
  width: 43.94px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button11 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 136.05999755859375px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-mini);
}
.vector-icon28 {
  position: relative;
  width: 13.1px;
  height: 14.77px;
}
.frame27 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 3.0225000381469727px 3.021249771118164px 2.2062501907348633px 3.875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level1 {
  position: absolute;
  top: -1px;
  left: calc(50% - 36.94px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.09px;
  height: 21px;
}
.pchakra-text58 {
  position: relative;
  width: 73.89px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button12 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 106.11000061035156px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.vector-icon29 {
  position: relative;
  width: 15.6px;
  height: 15.63px;
}
.frame28 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1875px 2.187500238418579px 2.1875px 2.211250066757202px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience1 {
  position: absolute;
  top: -1px;
  left: calc(50% - 38.46px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.12px;
  height: 21px;
}
.pchakra-text59 {
  position: relative;
  width: 76.92px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button13 {
  position: absolute;
  top: 76px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 103.08000183105469px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumslateblue-100);
}
.divchakra-stack76 {
  position: relative;
  width: 220px;
  height: 111px;
}
.frame29,
.pchakra-text60 {
  width: 53.61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame29 {
  width: 20px;
  padding: 1.3523246049880981px 1.3549989461898804px 1.3750008344650269px
    1.3749529123306274px;
  box-sizing: border-box;
}
.account3 {
  position: absolute;
  top: -1px;
  left: calc(50% - 30.76px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.72px;
  height: 21px;
}
.pchakra-text61 {
  position: relative;
  width: 61.52px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button14 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 118.47999572753906px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack77,
.pchakra-text62 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack77 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.pchakra-text62 {
  width: 68.31px;
  flex-direction: row;
  padding: var(--padding-0) 0.30999755859375px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.links1 {
  position: absolute;
  top: -1px;
  left: calc(50% - 19.11px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.43px;
  height: 21px;
}
.pchakra-text63 {
  position: relative;
  width: 38.23px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button15 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 141.77000427246094px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack73,
.divcss-y0pad1 {
  position: absolute;
  border-radius: var(--br-xl);
  width: 305px;
  height: 519px;
}
.divchakra-stack73 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.divcss-y0pad1 {
  top: 235px;
  left: 24px;
  background-color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.page-experience-n3 {
  position: relative;
  width: 100%;
  height: 1412px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
