.vector-icon80 {
  position: relative;
  width: 15.42px;
  height: 10.67px;
}
.frame77 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 4.667500019073486px 2.2912497520446777px 4.6650004386901855px
    2.2925000190734863px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-filter,
.svg77 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.svg77 {
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.button-filter {
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  padding: var(--padding-3xs);
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}
.vector-icon81 {
  position: relative;
  width: 15.54px;
  height: 15.54px;
}
.frame78,
.svg78 {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame78 {
  padding: 2.2699999809265137px 2.228750467300415px 2.187500476837158px
    2.228749990463257px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.svg78 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  z-index: 1;
}
.search-quests {
  position: relative;
  letter-spacing: 0.28px;
}
.form,
.input {
  box-sizing: border-box;
}
.input {
  width: 346px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-230xl) var(--padding-12xs)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.form {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 400px;
  padding: var(--padding-3xs) var(--padding-smi) var(--padding-3xs)
    var(--padding-mini);
  align-items: center;
  gap: var(--gap-7xs);
}
.divchakra-stack196,
.divchakra-stack197,
.divcss-1si4p9s,
.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.divcss-1si4p9s {
  flex: 1;
  align-items: flex-start;
}
.divchakra-stack196,
.divchakra-stack197 {
  align-items: center;
}
.divchakra-stack197 {
  flex: 1;
  gap: var(--gap-base);
}
.divchakra-stack196 {
  width: 320px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1662px;
}
.newest {
  position: relative;
  letter-spacing: 0.28px;
  line-height: 16px;
}
.pchakra-text159 {
  width: 131px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-63xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon82 {
  position: relative;
  width: 9.29px;
  height: 4.65px;
}
.frame79 {
  width: 20px;
  padding: 8.144999504089355px 5.3550004959106445px 7.210000038146973px
    5.353750228881836px;
  box-sizing: border-box;
}
.frame79,
.spanchakra-button-icon35 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button40 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 189px;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-3xs)
    var(--padding-mid);
  justify-content: center;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.button40,
.divchakra-stack198,
.divcss-jkl58t5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divchakra-stack198 {
  justify-content: flex-start;
  color: var(--color-gray-600);
}
.divcss-jkl58t5 {
  position: absolute;
  height: calc(100% - 1210px);
  top: 1px;
  bottom: 1209px;
  left: calc(50% - 728px);
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-snow);
  border-bottom: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 1452px;
  padding: var(--padding-xs) var(--padding-xs) var(--padding-smi);
  justify-content: space-between;
  min-height: 64px;
}
.all-experiences {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.divchakra-stack200,
.pchakra-text160 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 3.75px var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack200 {
  padding: var(--padding-9xs) var(--padding-0);
  align-items: center;
  gap: var(--gap-9xs);
}
.divchakra-stack199,
.divcss-e03czl5 {
  width: 854px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.0000152587890625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
}
.divchakra-stack199 {
  position: absolute;
  top: 131px;
  left: 407px;
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 957px;
  height: 1031px;
  flex-direction: column;
  padding: var(--padding-mid);
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.uvbv6ka5rexhgdyvy9ccq4b5hpsf1y-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 144px;
  height: 144px;
  object-fit: cover;
}
.span52 {
  position: absolute;
  margin: 0 !important;
  height: calc(100% + 12px);
  width: calc(100% - 109.5px);
  top: 12px;
  right: 54.75px;
  bottom: -24px;
  left: 54.75px;
  overflow: hidden;
  z-index: 0;
}
.divcss-1kq5yp1 {
  width: 253.5px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 208.19000244140625px var(--padding-113xl)
    var(--padding-0);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
}
.frame-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.divcss-827vyq,
.svg80 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.svg80 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.divcss-827vyq {
  width: 21.58px;
  align-items: center;
}
.dyor-find {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
}
.divchakra-stack204,
.pchakra-text161 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text161 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-0) 15.919998168945312px var(--padding-12xs)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack204 {
  position: absolute;
  height: calc(100% - 63px);
  width: 100%;
  top: -1px;
  right: 1.22px;
  bottom: 64px;
  left: -1.22px;
  padding: var(--padding-0) 0.0000019073486328125px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-end;
  gap: 5.22px;
  min-height: 24px;
}
.image45 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.image44 {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 20px;
  z-index: 0;
}
.mirror938c2527png {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen-300);
  width: 20px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  z-index: 1;
}
.divcss-qm0npo,
.span53 {
  display: flex;
  flex-direction: row;
}
.span53 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 20px;
}
.divcss-qm0npo {
  align-items: center;
  justify-content: center;
  min-width: 20px;
}
.beginners {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
}
.divchakra-stack205,
.pchakra-text162 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text162 {
  overflow: hidden;
  padding: var(--padding-0) 0.1999969482421875px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack205 {
  position: absolute;
  width: 100%;
  top: 32px;
  right: 0;
  left: 0;
  padding: var(--padding-11xs) 124.30000305175781px var(--padding-11xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-9xs);
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.vector-icon83 {
  position: relative;
  width: 9.67px;
  height: 9.67px;
}
.frame80 {
  width: 16px;
  display: flex;
  flex-direction: row;
  padding: 3.1679999828338623px 3.1670002937316895px 3.1650002002716064px
    3.1659998893737793px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-go2wv12,
.svg81 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.svg81 {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.divcss-go2wv12 {
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.divchakra-stack207,
.pchakra-text163 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text163 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack207 {
  border-radius: var(--br-13xl);
  background-color: var(--color-blanchedalmond);
  padding: var(--padding-11xs) 7.6100006103515625px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  gap: var(--gap-11xs);
}
.image47 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.image46,
.span54 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 24px;
}
.image46 {
  width: 24px;
  justify-content: center;
}
.span54 {
  overflow: hidden;
  justify-content: flex-start;
}
.divchakra-stack206,
.divcss-dga45d5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divcss-dga45d5 {
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
}
.divchakra-stack206 {
  position: absolute;
  width: calc(100% - 132.89px);
  top: 64px;
  right: 132.89px;
  left: 0;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-darkgoldenrod);
}
.divchakra-stack203 {
  position: relative;
  width: 253.5px;
  height: 88px;
}
.divchakra-stack202 {
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 287.5px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-10xl) var(--padding-mid) var(--padding-mid);
  align-items: flex-start;
  justify-content: flex-start;
}
.meytabeth-icon,
.span55 {
  position: absolute;
  top: 0;
  left: 0;
}
.meytabeth-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.span55 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.divcss-1y1nkkn25 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-linen-200);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divcss-1y1nkkn26,
.image48,
.span56 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.image48 {
  width: 20px;
  justify-content: center;
  max-width: 20px;
}
.divcss-1y1nkkn26,
.span56 {
  overflow: hidden;
  justify-content: flex-start;
  max-width: 32px;
}
.divcss-1y1nkkn26 {
  border-radius: var(--br-13xl);
  width: 32px;
  flex-shrink: 0;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-image: url(/public/divcss1y1nkkn@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.dottyb240c024svg1 {
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.dottyb240c024svg,
.span57 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.dottyb240c024svg {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  justify-content: center;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  z-index: 1;
}
.span57 {
  overflow: hidden;
  justify-content: flex-start;
  position: relative;
  max-width: 32px;
}
.divchakra-stack209,
.divcss-1y1nkkn27 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divcss-1y1nkkn27 {
  border-radius: var(--br-13xl);
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  justify-content: center;
  background-image: url(/public/divcss1y1nkkn1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divchakra-stack209 {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.claim-ongoing {
  position: relative;
  line-height: 20px;
}
.pchakra-text164 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 1.720001220703125px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack201,
.divchakra-stack208 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.divchakra-stack208 {
  width: 200.72px;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
}
.divchakra-stack201 {
  position: absolute;
  height: 100%;
  width: calc(100% - 910.5px);
  top: 0;
  right: 910.5px;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}
.i3dorcsj-uj2aymygvyeljpkyos-vb-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 133.25px;
  height: 112.01px;
  object-fit: cover;
}
.divchakra-stack212 {
  border-radius: var(--br-13xl);
  background-color: var(--color-paleturquoise);
  width: 45.31px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 8.310001373291016px var(--padding-11xs)
    var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.pchakra-text165 {
  flex: 1;
  overflow: hidden;
  padding: var(--padding-0) 11.919998168945312px var(--padding-12xs)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack215,
.divchakra-stack216,
.pchakra-text165,
.pchakra-text166 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text166 {
  overflow: hidden;
  padding: var(--padding-0) 0.6100006103515625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack215,
.divchakra-stack216 {
  position: absolute;
  left: 0;
  align-items: center;
}
.divchakra-stack215 {
  width: 100%;
  top: 32px;
  right: 0;
  padding: var(--padding-11xs) 117.88999938964844px var(--padding-11xs)
    var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.divchakra-stack216 {
  width: calc(100% - 132.89px);
  top: 64px;
  right: 132.89px;
  color: var(--color-darkgoldenrod);
}
.divchakra-stack213 {
  position: relative;
  width: 253.5px;
  height: 88px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.divcss-1y1nkkn29,
.divcss-1y1nkkn30 {
  border-radius: var(--br-13xl);
  background-color: var(--color-linen-200);
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divcss-1y1nkkn30 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.pchakra-text168 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.12999725341796875px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack210,
.divchakra-stack218 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.divchakra-stack218 {
  width: 201.13px;
  flex-direction: row;
  padding: var(--padding-0) 0.00000762939453125px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: center;
  color: var(--color-darkgray);
}
.divchakra-stack210 {
  position: absolute;
  height: 100%;
  width: calc(100% - 910.5px);
  top: 0;
  right: 536px;
  bottom: 0;
  left: 374.5px;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-smi);
  color: var(--color-mediumseagreen);
}
.divchakra-stack221 {
  width: 201.67px;
}
.divchakra-stack220,
.divchakra-stack222 {
  position: absolute;
  height: calc(100% - 298px);
  width: calc(100% - 910.5px);
  top: 0;
  bottom: 298px;
}
.divchakra-stack220 {
  right: 161.5px;
  left: 749px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack222 {
  right: -213px;
  left: 1123.5px;
}
.divcss-1s1c1bz {
  position: absolute;
  top: 690px;
  left: 564px;
  width: 1198px;
  height: 330px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.trendy {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack225 {
  border-radius: var(--br-13xl);
  background-color: #ffbdbd;
  width: 45.31px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 8.310001373291016px var(--padding-11xs)
    var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.faire-un-swap {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
}
.mirror938c2527png2 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: #ffd466;
  width: 20px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  z-index: 1;
}
.divcss-1y1nkkn32,
.divcss-1y1nkkn33 {
  border-radius: var(--br-13xl);
  width: 32px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-image: url(/public/divcss1y1nkkn2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divcss-1y1nkkn33 {
  background-image: url(/public/divcss1y1nkkn3@3x.png);
}
.claim-ongoing2 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack223,
.divchakra-stack231 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.divchakra-stack231 {
  width: 200.72px;
  flex-direction: row;
  align-items: center;
  color: var(--color-darkgray);
}
.divchakra-stack223 {
  width: 287.5px;
  flex-direction: column;
  align-items: flex-start;
}
.divchakra-stack233 {
  gap: var(--gap-5xs);
  color: var(--color-mediumseagreen);
}
.divchakra-stack233,
.divchakra-stack243 {
  width: 287.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack245 {
  width: 287.5px;
}
.divcss-1s1c1bz1,
.divcss-1s1c1bz2 {
  position: absolute;
  width: calc(100% - 244px);
  right: -303px;
  left: 547px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-68xl);
}
.divcss-1s1c1bz1 {
  height: calc(100% - 945px);
  top: 254px;
  bottom: 691px;
  color: #030303;
}
.divcss-1s1c1bz2 {
  height: calc(100% - 1243px);
  top: 403px;
  bottom: 840px;
}
.vector-icon87 {
  position: relative;
  width: 17.27px;
  height: 17.27px;
}
.frame84 {
  width: 20px;
  padding: 1.3625000715255737px 1.361249327659607px 1.3700000047683716px
    1.3725000619888306px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame84,
.pchakra-text177,
.spanchakra-button-icon36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.spanchakra-button-icon36 {
  position: absolute;
  width: calc(100% - 200px);
  top: calc(50% - 10px);
  right: 185px;
  left: 15px;
  justify-content: flex-start;
}
.pchakra-text177 {
  padding: var(--padding-0) 0.8800010681152344px var(--padding-12xs)
    var(--padding-11xs);
  justify-content: center;
}
.divcss-1ldmaet5 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-200);
  width: 8px;
  height: 8px;
}
.divcss-go2wv16,
.pchakra-text178 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divcss-go2wv16 {
  padding: var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.pchakra-text178 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack252 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 7.060001373291016px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-darkslategray-100);
}
.divcss-e03czl6 {
  position: absolute;
  width: calc(100% - 58px);
  top: calc(50% - 13px);
  right: 17px;
  left: 41px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.button41,
.divchakra-stack251 {
  width: 220px;
  box-sizing: border-box;
}
.button41 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  height: 48px;
  min-width: 40px;
}
.divchakra-stack251 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-mediumslateblue-100);
}
.vector-icon88 {
  position: relative;
  width: 13.94px;
  height: 15.67px;
}
.frame85 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1237499713897705px 3.0199999809265137px 2.2087504863739014px
    3.0425000190734863px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.home5 {
  position: absolute;
  top: -1px;
  left: calc(50% - 21.97px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.14px;
  height: 21px;
}
.pchakra-text179 {
  position: relative;
  width: 43.94px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button42 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 136.05999755859375px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-mini);
}
.vector-icon89 {
  position: relative;
  width: 13.1px;
  height: 14.77px;
}
.frame86 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 3.0225000381469727px 3.021249771118164px 2.2062501907348633px 3.875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level5 {
  position: absolute;
  top: -1px;
  left: calc(50% - 36.94px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.09px;
  height: 21px;
}
.pchakra-text180 {
  position: relative;
  width: 73.89px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button43 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 106.11000061035156px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.vector-icon90 {
  position: relative;
  width: 15.6px;
  height: 15.63px;
}
.frame87 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1875px 2.187500238418579px 2.1875px 2.211250066757202px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience5 {
  position: absolute;
  top: -1px;
  left: calc(50% - 38.46px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.12px;
  height: 21px;
}
.pchakra-text181 {
  position: relative;
  width: 76.92px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button44 {
  position: absolute;
  top: 76px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 103.08000183105469px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumslateblue-100);
}
.divchakra-stack253 {
  position: relative;
  width: 220px;
  height: 111px;
}
.frame88,
.pchakra-text182 {
  width: 53.61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame88 {
  width: 20px;
  padding: 1.3523246049880981px 1.3549989461898804px 1.3750008344650269px
    1.3749529123306274px;
  box-sizing: border-box;
}
.account11 {
  position: absolute;
  top: -1px;
  left: calc(50% - 30.76px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.72px;
  height: 21px;
}
.pchakra-text183 {
  position: relative;
  width: 61.52px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button45 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 118.47999572753906px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack254,
.pchakra-text184 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack254 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.pchakra-text184 {
  width: 68.31px;
  flex-direction: row;
  padding: var(--padding-0) 0.30999755859375px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.vector-icon92 {
  position: relative;
  width: 17.27px;
  height: 8.94px;
}
.frame89 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 5.521912574768066px 1.3549995422363281px 5.539459228515625px 1.375px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.links5 {
  position: absolute;
  top: -1px;
  left: calc(50% - 19.11px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.43px;
  height: 21px;
}
.pchakra-text185 {
  position: relative;
  width: 38.23px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button46 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 141.77000427246094px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack250,
.divcss-y0pad5 {
  position: absolute;
  border-radius: var(--br-xl);
  width: 305px;
  height: 519px;
}
.divchakra-stack250 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.divcss-y0pad5 {
  top: 102px;
  left: 33px;
  background-color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.divcss-1y21ojc5 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-linen-100);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 1442px;
  height: 1275px;
  max-width: 1676px;
  min-height: 1008px;
  z-index: 0;
}
.divchakra-stack195,
.page-toutes-les-experiences {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack195 {
  width: 1497px;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-xs);
  box-sizing: border-box;
  z-index: 0;
}
.page-toutes-les-experiences {
  position: relative;
  width: 100%;
  height: 982px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
