.divchakra-stack-child2 {
  position: relative;
  width: 138.51px;
  height: 127.99px;
  object-fit: cover;
}
.divcss-1uod83n5 {
  position: relative;
  width: 1px;
  height: 1px;
}
.divchakra-stack256 {
  position: absolute;
  width: calc(100% - 1205.36px);
  top: calc(50% - 54.5px);
  right: 1193.36px;
  left: 12px;
  height: 109px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-165xl);
}
.vector-icon93 {
  position: relative;
  width: 20.72px;
  height: 20.73px;
}
.button-help5,
.frame90,
.svg94 {
  display: flex;
  flex-direction: row;
}
.frame90 {
  width: 24px;
  padding: 1.6227798461914062px 1.6259992122650146px 1.6511497497558594px
    1.6497175693511963px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-help5,
.svg94 {
  justify-content: center;
}
.svg94 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.button-help5 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  padding: var(--padding-xs);
  align-items: center;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
}
.image69 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.image68 {
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 32px;
  z-index: 0;
}
.wallet2f170466svg-icon5 {
  position: relative;
  width: 32.01px;
  height: 32.02px;
  overflow: hidden;
  flex-shrink: 0;
}
.wallet2f170466svg5 {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  z-index: 1;
}
.span72,
.spanchakra-button-icon42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.span72 {
  overflow: hidden;
  position: relative;
  max-width: 32px;
}
.spanchakra-button-icon42 {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 120px);
  top: 8px;
  right: 106.77px;
  bottom: 8px;
  left: 13.23px;
}
.id-010275 {
  position: relative;
  line-height: 16px;
  font-weight: 900;
}
.pchakra-text186 {
  position: absolute;
  height: calc(100% - 31px);
  width: calc(100% - 68.47px);
  top: 15px;
  right: 14.24px;
  bottom: 16px;
  left: 54.23px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.529998779296875px var(--padding-12xs)
    var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.button47 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumslateblue-100);
  width: 152px;
  height: 48px;
  min-width: 40px;
}
.divchakra-stack257,
.divcss-030 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack257 {
  position: absolute;
  width: calc(100% - 1280.36px);
  top: calc(50% - 24px);
  right: 12px;
  left: 1268.36px;
  align-items: center;
  gap: var(--gap-5xs);
}
.divcss-sdkmul5 {
  position: absolute;
  top: 0;
  left: 0.06px;
  background-color: var(--color-white);
  width: 1488.36px;
  height: 126px;
  transform: rotate(0.03deg);
  transform-origin: 0 0;
  text-align: center;
}
.image71 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.image70 {
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 24px;
  z-index: 0;
}
.mirror938c2527png-icon5 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span73 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 292px;
  z-index: 1;
}
.nouns-dao1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack261,
.pchakra-text187 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text187 {
  padding: var(--padding-0) var(--padding-lgi) var(--padding-0) var(--padding-0);
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack261 {
  width: 292px;
  align-items: center;
  gap: var(--gap-9xs);
}
.create-your-first3 {
  position: relative;
  line-height: 36px;
}
.divchakra-stack260,
.pchakra-text188 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text188 {
  width: 241.09px;
  flex-direction: row;
  padding: var(--padding-0) 4.089996337890625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-500);
}
.divchakra-stack260 {
  width: 292px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.vector-icon94 {
  position: relative;
  width: 9.67px;
  height: 9.67px;
}
.frame91 {
  width: 16px;
  display: flex;
  flex-direction: row;
  padding: 3.1679999828338623px 3.1670002937316895px 3.1650002002716064px
    3.1659998893737793px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-go2wv17,
.svg95 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.svg95 {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.divcss-go2wv17 {
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.usdt2 {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack264,
.pchakra-text189 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text189 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack264 {
  border-radius: var(--br-13xl);
  background-color: var(--color-blanchedalmond);
  padding: var(--padding-11xs) 7.6100006103515625px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  gap: var(--gap-11xs);
}
.optimism202c83a8png5 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen-100);
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span74 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 24px;
}
.divchakra-stack263,
.divcss-dga45d7 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divcss-dga45d7 {
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
}
.divchakra-stack263 {
  width: 120.61px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkgoldenrod);
}
.vector-icon95 {
  position: relative;
  width: 13.26px;
  height: 12.74px;
}
.frame92 {
  width: 16px;
  padding: 1.5427794456481934px 1.575689673423767px 1.7149996757507324px
    1.1660000085830688px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack266,
.frame92,
.pchakra-text190 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text190 {
  width: 104px;
  padding: var(--padding-0) var(--padding-49xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack266 {
  position: absolute;
  width: calc(100% - 53.72px);
  top: calc(50% - 10px);
  right: 53.72px;
  left: 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.create-your-first4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text191 {
  position: absolute;
  width: calc(100% + 119px);
  top: calc(50% - 12.71px);
  right: -225.58px;
  left: 106.58px;
  height: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.divchakra-stack265,
.vector-icon96 {
  position: relative;
  width: 181.72px;
  height: 24px;
}
.vector-icon96 {
  width: 12.33px;
  height: 12.33px;
}
.frame93 {
  width: 16px;
  padding: 1.8320000171661377px 1.8329998254776px 1.8339993953704834px
    1.8339999914169312px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack268,
.frame93,
.pchakra-text192 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text192 {
  width: 104px;
  padding: var(--padding-0) var(--padding-60xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack268 {
  position: absolute;
  width: calc(100% - 47px);
  top: calc(50% - 10px);
  right: 40px;
  left: 7px;
  align-items: center;
  gap: var(--gap-5xs);
}
.facile5 {
  position: absolute;
  top: 0;
  left: -1px;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text193 {
  position: absolute;
  width: calc(100% - 134.75px);
  top: calc(50% - 12.71px);
  right: 27.17px;
  left: 107.58px;
  height: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.divchakra-stack267 {
  position: relative;
  width: 175px;
  height: 24px;
  font-size: var(--font-size-xs);
}
.vector-icon97 {
  position: relative;
  width: 13.82px;
  height: 13.82px;
}
.frame94 {
  width: 16px;
  padding: 1.0818532705307007px 1.0839992761611938px 1.100000023841858px
    1.0998042821884155px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack270,
.frame94,
.pchakra-text194 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text194 {
  width: 104px;
  padding: var(--padding-0) var(--padding-32xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack270 {
  position: absolute;
  width: calc(100% - 51.23px);
  top: calc(50% - 10px);
  right: 51.23px;
  left: 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.pchakra-text195 {
  position: absolute;
  width: calc(100% - 43px);
  top: calc(50% - 12.71px);
  right: -63.58px;
  left: 106.58px;
  height: 25px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
}
.divchakra-stack269 {
  position: relative;
  width: 179.23px;
  height: 24px;
}
.divchakra-stack259,
.divchakra-stack262 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divchakra-stack262 {
  width: 603.17px;
  overflow: hidden;
  padding: var(--padding-0) 421.4499816894531px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.divchakra-stack259 {
  position: absolute;
  height: calc(100% - 470px);
  top: 0;
  bottom: 470px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 637.17px;
  padding: var(--padding-mid);
  font-size: var(--font-size-xs);
}
.vector-icon98 {
  position: relative;
  width: 17.17px;
  height: 12.75px;
}
.frame95,
.svg99 {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame95 {
  padding: 3.081249952316284px 1.4174997806549072px 4.168749809265137px
    1.4162499904632568px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.svg99 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.requirements2 {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.divchakra-stack272,
.pchakra-text196 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text196 {
  padding: var(--padding-0) 4.25px var(--padding-0) var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack272 {
  position: absolute;
  height: calc(100% - 132px);
  width: calc(100% - 473.92px);
  top: 17px;
  right: 458.92px;
  bottom: 115px;
  left: 15px;
  align-items: center;
  gap: var(--gap-7xs);
}
.button-checkbox2 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
}
.divcss-rlhbmu2 {
  position: absolute;
  width: calc(100% - 577.17px);
  top: calc(50% - 28px);
  right: 565.17px;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.read-nouns-vision {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text197 {
  width: 347.92px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 12.920013427734375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.image75 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.image74 {
  width: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 16px;
  z-index: 0;
}
.optimism202c83a8png-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  object-fit: cover;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.divchakra-stack275,
.divchakra-stack276,
.span75 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.span75 {
  overflow: hidden;
  align-items: flex-start;
  position: relative;
  max-width: 16px;
}
.divchakra-stack275,
.divchakra-stack276 {
  align-items: center;
}
.divchakra-stack276 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  padding: var(--padding-11xs) 7.80999755859375px var(--padding-11xs)
    var(--padding-9xs);
  gap: var(--gap-11xs);
}
.divchakra-stack275 {
  width: 91.81px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.divchakra-stack274 {
  position: absolute;
  width: calc(100% - 253.25px);
  top: calc(50% - 29px);
  right: 209.25px;
  left: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.divcss-p9xbm14 {
  position: relative;
  width: 601.17px;
  height: 80px;
}
.divchakra-stack271,
.divchakra-stack273 {
  position: absolute;
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
}
.divchakra-stack273 {
  height: calc(100% - 78px);
  width: calc(100% - 34px);
  top: 61px;
  right: 17px;
  bottom: 17px;
  left: 17px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  padding: var(--padding-12xs);
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack271 {
  height: calc(100% - 572px);
  top: 286px;
  bottom: 286px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  width: 637.17px;
}
.vector-icon99 {
  position: relative;
  width: 17.27px;
  height: 8.94px;
}
.frame96 {
  width: 20px;
  padding: 5.521912574768066px 1.3549995422363281px 5.539459228515625px 1.375px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack278,
.frame96,
.pchakra-text199 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text199 {
  padding: var(--padding-0) var(--padding-10xs-5) var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack278 {
  position: absolute;
  height: calc(100% - 108px);
  width: calc(100% - 480.67px);
  top: 17px;
  right: 465.67px;
  bottom: 91px;
  left: 15px;
  align-items: center;
  gap: var(--gap-7xs);
}
.vector-icon100 {
  position: relative;
  width: 13.82px;
  height: 7.15px;
}
.divcss-a20ioa2,
.frame97 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.frame97 {
  width: 16px;
  padding: 4.417530059814453px 1.0839999914169312px 4.431567192077637px
    1.100000023841858px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-a20ioa2 {
  position: absolute;
  top: calc(50% - 16px);
  left: 12px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-linen-200);
  width: 32px;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.link7 {
  position: absolute;
  width: calc(100% - 476.51px);
  top: calc(50% - 13px);
  right: 442.01px;
  left: 34.5px;
}
.httpsnounswtf {
  position: absolute;
  top: 15.5px;
  left: 69px;
  line-height: 24px;
  font-weight: 500;
}
.divcss-p9xbm15 {
  position: relative;
  width: 601.17px;
  height: 56px;
}
.divchakra-stack277 {
  position: absolute;
  height: calc(100% - 596px);
  top: 470px;
  bottom: 126px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 637.17px;
}
.divchakra-stack258 {
  position: absolute;
  height: calc(100% - 467px);
  width: calc(100% - 458px);
  top: 233.5px;
  right: 410px;
  bottom: 233.5px;
  left: 48px;
}
.frame98 {
  position: absolute;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}
.svg102,
.vector-icon101 {
  position: absolute;
  overflow: hidden;
}
.svg102 {
  top: calc(50% - 10px);
  left: 0;
  width: 20px;
  height: 20px;
}
.vector-icon101 {
  height: 4.14%;
  width: 11.37%;
  top: 42.49%;
  right: 87.17%;
  bottom: 53.37%;
  left: 1.46%;
  max-width: 100%;
  max-height: 100%;
}
.description6 {
  position: absolute;
  top: 88.5px;
  left: 26px;
  line-height: 28px;
  font-weight: 600;
}
.pchakra-text200 {
  position: absolute;
  width: calc(100% - 24.11px);
  top: calc(50% - 14px);
  right: -119.89px;
  left: 144px;
}
.divchakra-stack281 {
  position: absolute;
  height: calc(100% - 283px);
  width: calc(100% - 500px);
  top: -54px;
  right: 483px;
  bottom: 337px;
  left: 17px;
}
.pchakra-text-child1 {
  position: absolute;
  top: 138px;
  left: 478px;
  width: 431px;
  height: 308px;
  object-fit: cover;
}
.nfts {
  font-family: var(--font-inter);
}
.unique-digital-assets {
  font-weight: 500;
}
.nfts-unique-digital-assets-re {
  margin: 0;
}
.blank-line7 {
  margin: 0;
  font-weight: 500;
}
.nfts-unique-digital-container1 {
  line-break: anywhere;
  width: 100%;
}
.nfts-unique-digital-container {
  position: absolute;
  top: 107px;
  left: -167px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 575px;
}
.pchakra-text201 {
  position: absolute;
  height: calc(100% + 115px);
  width: calc(100% - 33.83px);
  top: 0;
  right: -160.17px;
  bottom: -115px;
  left: 194px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.divchakra-stack280 {
  position: absolute;
  height: calc(100% - 683px);
  top: 847px;
  bottom: -164px;
  left: calc(50% - 509.59px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 637px;
}
.examples-of-nouns3 {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
}
.pchakra-text202 {
  position: absolute;
  height: calc(100% - 385px);
  width: calc(100% - 201.19px);
  top: 328px;
  right: 176.19px;
  bottom: 57px;
  left: 25px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 7.80999755859375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon102 {
  position: relative;
  width: 10.48px;
  height: 11.82px;
}
.frame99 {
  width: 16px;
  display: flex;
  flex-direction: row;
  padding: 2.4179999828338623px 2.4170002937316895px 1.765000581741333px
    3.0999999046325684px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.claim-issue-report5 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.divchakra-stack284,
.pchakra-text203 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text203 {
  padding: var(--padding-0) 1.589996337890625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack284 {
  position: absolute;
  height: calc(100% - 394px);
  width: calc(100% - 216.41px);
  top: 369px;
  right: 191.41px;
  bottom: 25px;
  left: 25px;
  align-items: center;
  gap: var(--gap-9xs);
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray);
}
.j7jl0vs06s3deq80ehhnelx1rq2faz-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 288px;
  object-fit: cover;
}
.span76 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.divcss-1u95mlq5 {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 288px;
  height: 288px;
}
.divchakra-stack283 {
  position: absolute;
  height: calc(100% - 322px);
  top: 0;
  bottom: 322px;
  left: calc(50% - 169px);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 338px;
}
.divcss-1ee2lil5,
.pchakra-text204 {
  position: absolute;
  top: calc(50% - 10px);
}
.pchakra-text204 {
  width: calc(100% - 95.18px);
  right: 59.18px;
  left: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.9499969482421875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-1ee2lil5 {
  width: calc(100% - 210.96px);
  right: -5.99px;
  left: 216.95px;
}
.vector-icon103 {
  position: relative;
  width: 21px;
  height: 21px;
}
.dotty-gray418199d2svg11 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs-5);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dotty-gray418199d2svg10,
.span77 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.dotty-gray418199d2svg10 {
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 24px;
  justify-content: center;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span77 {
  width: calc(100% - 262.13px);
  top: calc(50% - 8px);
  right: 254.13px;
  left: 8px;
  overflow: hidden;
  justify-content: flex-start;
  max-width: 286.1300048828125px;
}
.divchakra-stack286 {
  position: relative;
  width: 286.13px;
  height: 36px;
}
.haoxiaoeth-icon7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.divcss-1y1nkkn37 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-linen-200);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divcss-031,
.pchakra-text205 {
  position: absolute;
  width: calc(100% - 288px);
  top: calc(50% - 16px);
  right: 280px;
  left: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text205 {
  width: calc(100% - 56px);
  top: calc(50% - 13px);
  right: 8px;
  left: 48px;
  overflow: hidden;
  padding: var(--padding-0) var(--padding-164xl) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
}
.divchakra-stack288 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 320px;
  height: 40px;
}
.pchakra-text206,
.pchakra-text207,
.pchakra-text208,
.pchakra-text209 {
  position: absolute;
  width: calc(100% - 56px);
  top: calc(50% - 13px);
  right: 8px;
  left: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-174xl) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text207,
.pchakra-text208,
.pchakra-text209 {
  padding: var(--padding-0) var(--padding-170xl) var(--padding-12xs)
    var(--padding-0);
}
.pchakra-text208,
.pchakra-text209 {
  padding: var(--padding-0) var(--padding-155xl) var(--padding-12xs)
    var(--padding-0);
}
.pchakra-text209 {
  padding: var(--padding-0) var(--padding-148xl) var(--padding-12xs)
    var(--padding-0);
}
.divchakra-stack285,
.divchakra-stack287 {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.divchakra-stack285 {
  position: absolute;
  height: calc(100% - 470px);
  top: 469.5px;
  bottom: 0.5px;
  left: calc(50% - 169.17px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 338px;
  padding: var(--padding-4xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.get-started2 {
  position: relative;
  line-height: 19.2px;
}
.link8 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  padding: 13.399999618530273px 111.2300033569336px 14.600000381469727px
    102.7699966430664px;
  align-items: center;
  justify-content: center;
}
.divframer-gvo3gs-container4 {
  position: absolute;
  top: 394.5px;
  left: calc(50% - 141.17px);
  width: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.divchakra-stack282 {
  position: absolute;
  height: calc(100% - 467px);
  width: calc(100% - 757.17px);
  top: 233.5px;
  right: 48px;
  bottom: 233.5px;
  left: 709.17px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.divcss-fk4jif5 {
  position: absolute;
  top: -35px;
  left: 325px;
  width: 1095.17px;
  height: 1199px;
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.back-to-all5 {
  position: relative;
  line-height: 32px;
}
.pchakra-text210 {
  position: absolute;
  width: calc(100% - 45.36px);
  top: calc(50% - 17px);
  right: -1.14px;
  left: 46.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 5.6399993896484375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon104 {
  position: relative;
  width: 13.77px;
  height: 13.75px;
}
.button48,
.frame100 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame100 {
  width: 20px;
  padding: 3.125px 3.103750228881836px 3.125px 3.125px;
}
.button48 {
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 36px;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-6xs);
  min-width: 36px;
  min-height: 36px;
}
.divchakra-stack293 {
  position: absolute;
  top: 13.5px;
  left: -31.18px;
  width: 254px;
  height: 36px;
  overflow: hidden;
}
.divcss-1y21ojc6,
.divcss-jkl58t6 {
  position: absolute;
  background-color: var(--color-snow);
  box-sizing: border-box;
}
.divcss-jkl58t6 {
  top: 137px;
  left: 55px;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  border-bottom: 1px solid var(--color-linen-200);
  width: 1431px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.divcss-1y21ojc6 {
  width: calc(100% + 526px);
  top: calc(50% - 727px);
  right: -526px;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-linen-200);
  height: 1433px;
}
.vector-icon105 {
  position: relative;
  width: 17.27px;
  height: 17.27px;
}
.frame101 {
  width: 20px;
  padding: 1.3625000715255737px 1.361249327659607px 1.3700000047683716px
    1.3725000619888306px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame101,
.pchakra-text211,
.spanchakra-button-icon43 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.spanchakra-button-icon43 {
  position: absolute;
  width: calc(100% - 200px);
  top: calc(50% - 10px);
  right: 185px;
  left: 15px;
  justify-content: flex-start;
}
.pchakra-text211 {
  padding: var(--padding-0) 0.8800010681152344px var(--padding-12xs)
    var(--padding-11xs);
  justify-content: center;
}
.divcss-1ldmaet6 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-200);
  width: 8px;
  height: 8px;
}
.divcss-go2wv19,
.pchakra-text212 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divcss-go2wv19 {
  padding: var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.pchakra-text212 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack296 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 7.060001373291016px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-darkslategray-100);
}
.divcss-e03czl7 {
  position: absolute;
  width: calc(100% - 58px);
  top: calc(50% - 13px);
  right: 17px;
  left: 41px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.button49,
.divchakra-stack295 {
  width: 220px;
  box-sizing: border-box;
}
.button49 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  height: 48px;
  min-width: 40px;
}
.divchakra-stack295 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-mediumslateblue-100);
}
.vector-icon106 {
  position: relative;
  width: 13.94px;
  height: 15.67px;
}
.frame102 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1237499713897705px 3.0199999809265137px 2.2087504863739014px
    3.0425000190734863px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.home6 {
  position: absolute;
  top: -1px;
  left: calc(50% - 21.97px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.14px;
  height: 21px;
}
.pchakra-text213 {
  position: relative;
  width: 43.94px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button50 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 136.05999755859375px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-mini);
}
.vector-icon107 {
  position: relative;
  width: 13.1px;
  height: 14.77px;
}
.frame103 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 3.0225000381469727px 3.021249771118164px 2.2062501907348633px 3.875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level6 {
  position: absolute;
  top: -1px;
  left: calc(50% - 36.94px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.09px;
  height: 21px;
}
.pchakra-text214 {
  position: relative;
  width: 73.89px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button51 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 106.11000061035156px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.vector-icon108 {
  position: relative;
  width: 15.6px;
  height: 15.63px;
}
.frame104 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1875px 2.187500238418579px 2.1875px 2.211250066757202px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience6 {
  position: absolute;
  top: -1px;
  left: calc(50% - 38.46px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.12px;
  height: 21px;
}
.pchakra-text215 {
  position: relative;
  width: 76.92px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button52 {
  position: absolute;
  top: 76px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 103.08000183105469px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumslateblue-100);
}
.divchakra-stack297 {
  position: relative;
  width: 220px;
  height: 111px;
}
.frame105,
.pchakra-text216 {
  width: 53.61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame105 {
  width: 20px;
  padding: 1.3523246049880981px 1.3549989461898804px 1.3750008344650269px
    1.3749529123306274px;
  box-sizing: border-box;
}
.account13 {
  position: absolute;
  top: -1px;
  left: calc(50% - 30.76px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.72px;
  height: 21px;
}
.pchakra-text217 {
  position: relative;
  width: 61.52px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button53 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 118.47999572753906px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack298,
.pchakra-text218 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack298 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.pchakra-text218 {
  width: 68.31px;
  flex-direction: row;
  padding: var(--padding-0) 0.30999755859375px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.links6 {
  position: absolute;
  top: -1px;
  left: calc(50% - 19.11px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.43px;
  height: 21px;
}
.pchakra-text219 {
  position: relative;
  width: 38.23px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button54 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 141.77000427246094px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack294,
.divcss-y0pad6 {
  position: absolute;
  border-radius: var(--br-xl);
  width: 305px;
  height: 519px;
}
.divchakra-stack294 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.divcss-y0pad6 {
  top: 235px;
  left: 24px;
  background-color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.page-experience-n1 {
  position: relative;
  width: 100%;
  height: 1412px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
