.divchakra-stack-child {
  position: relative;
  width: 138.51px;
  height: 127.99px;
  object-fit: cover;
}
.divcss-1uod83n {
  position: relative;
  width: 1px;
  height: 1px;
}
.divchakra-stack {
  position: absolute;
  width: calc(100% - 1205.36px);
  top: calc(50% - 54.5px);
  right: 1193.36px;
  left: 12px;
  height: 109px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-165xl);
}
.vector-icon {
  position: relative;
  width: 20.72px;
  height: 20.73px;
}
.button-help,
.frame,
.svg {
  display: flex;
  flex-direction: row;
}
.frame {
  width: 24px;
  padding: 1.6227798461914062px 1.6259992122650146px 1.6511497497558594px
    1.6497175693511963px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-help,
.svg {
  justify-content: center;
}
.svg {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.button-help {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  padding: var(--padding-xs);
  align-items: center;
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
}
.image1 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.image {
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 32px;
  z-index: 0;
}
.wallet2f170466svg-icon {
  position: relative;
  width: 32.01px;
  height: 32.02px;
  overflow: hidden;
  flex-shrink: 0;
}
.span,
.spanchakra-button-icon,
.wallet2f170466svg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.wallet2f170466svg {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  justify-content: center;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  z-index: 1;
}
.span,
.spanchakra-button-icon {
  justify-content: flex-start;
}
.span {
  overflow: hidden;
  position: relative;
  max-width: 32px;
}
.spanchakra-button-icon {
  position: absolute;
  height: calc(100% - 16px);
  width: calc(100% - 120px);
  top: 8px;
  right: 106.77px;
  bottom: 8px;
  left: 13.23px;
}
.id-01027 {
  position: relative;
  line-height: 16px;
  font-weight: 900;
}
.pchakra-text {
  position: absolute;
  height: calc(100% - 31px);
  width: calc(100% - 68.47px);
  top: 15px;
  right: 14.24px;
  bottom: 16px;
  left: 54.23px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.529998779296875px var(--padding-12xs)
    var(--padding-12xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.button {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-mediumslateblue-100);
  width: 152px;
  height: 48px;
  min-width: 40px;
}
.divchakra-stack1,
.divcss-0 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack1 {
  position: absolute;
  width: calc(100% - 1280.36px);
  top: calc(50% - 24px);
  right: 12px;
  left: 1268.36px;
  align-items: center;
  gap: var(--gap-5xs);
}
.divcss-sdkmul {
  position: absolute;
  top: 0;
  left: 0.06px;
  background-color: var(--color-white);
  width: 1488.36px;
  height: 126px;
  transform: rotate(0.03deg);
  transform-origin: 0 0;
  text-align: center;
}
.image3 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.image2 {
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 24px;
  z-index: 0;
}
.mirror938c2527png-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  object-fit: cover;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 292px;
  z-index: 1;
}
.inch-swap {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack5,
.pchakra-text1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text1 {
  padding: var(--padding-0) var(--padding-lgi) var(--padding-0) var(--padding-0);
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack5 {
  width: 292px;
  align-items: center;
  gap: var(--gap-9xs);
}
.swap-dai-to {
  position: relative;
  line-height: 36px;
}
.divchakra-stack4,
.pchakra-text2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text2 {
  width: 241.09px;
  flex-direction: row;
  padding: var(--padding-0) 4.089996337890625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-500);
}
.divchakra-stack4 {
  width: 292px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.vector-icon1 {
  position: relative;
  width: 9.67px;
  height: 9.67px;
}
.divcss-go2wv,
.frame1,
.svg1 {
  display: flex;
  flex-direction: row;
}
.frame1 {
  width: 16px;
  padding: 3.1679999828338623px 3.1670002937316895px 3.1650002002716064px
    3.1659998893737793px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-go2wv,
.svg1 {
  justify-content: center;
}
.svg1 {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
}
.divcss-go2wv {
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.inch {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 600;
}
.divchakra-stack8,
.pchakra-text3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text3 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack8 {
  border-radius: var(--br-13xl);
  background-color: var(--color-blanchedalmond);
  padding: var(--padding-11xs) 7.6100006103515625px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  gap: var(--gap-11xs);
}
.optimism202c83a8png {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  background-color: var(--color-limegreen-100);
  width: 24px;
  height: 24px;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 24px;
}
.divchakra-stack7,
.divcss-dga45d {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divcss-dga45d {
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
}
.divchakra-stack7 {
  width: 120.61px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-sm);
  color: var(--color-darkgoldenrod);
}
.vector-icon2 {
  position: relative;
  width: 13.26px;
  height: 12.74px;
}
.frame2 {
  width: 16px;
  padding: 1.5427794456481934px 1.575689673423767px 1.7149996757507324px
    1.1660000085830688px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack10,
.frame2,
.pchakra-text4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text4 {
  width: 104px;
  padding: var(--padding-0) var(--padding-49xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack10 {
  position: absolute;
  width: calc(100% - 53.72px);
  top: calc(50% - 10px);
  right: 53.72px;
  left: 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.swap-token-a {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text5 {
  position: absolute;
  width: calc(100% + 119px);
  top: calc(50% - 12.71px);
  right: -225.58px;
  left: 106.58px;
  height: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.divchakra-stack9,
.vector-icon3 {
  position: relative;
  width: 181.72px;
  height: 24px;
}
.vector-icon3 {
  width: 12.33px;
  height: 12.33px;
}
.frame3 {
  width: 16px;
  padding: 1.8320000171661377px 1.8329998254776px 1.8339993953704834px
    1.8339999914169312px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack12,
.frame3,
.pchakra-text6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text6 {
  width: 104px;
  padding: var(--padding-0) var(--padding-60xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack12 {
  position: absolute;
  width: calc(100% - 47px);
  top: calc(50% - 10px);
  right: 40px;
  left: 7px;
  align-items: center;
  gap: var(--gap-5xs);
}
.facile {
  position: absolute;
  top: 0;
  left: -1px;
  line-height: 24px;
  font-weight: 500;
}
.pchakra-text7 {
  position: absolute;
  width: calc(100% - 134.75px);
  top: calc(50% - 12.71px);
  right: 27.17px;
  left: 107.58px;
  height: 25px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-500);
}
.divchakra-stack11 {
  position: relative;
  width: 175px;
  height: 24px;
  font-size: var(--font-size-xs);
}
.vector-icon4 {
  position: relative;
  width: 13.82px;
  height: 13.82px;
}
.frame4 {
  width: 16px;
  padding: 1.0818532705307007px 1.0839992761611938px 1.100000023841858px
    1.0998042821884155px;
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack14,
.frame4,
.pchakra-text8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text8 {
  width: 104px;
  padding: var(--padding-0) var(--padding-32xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
}
.divchakra-stack14 {
  position: absolute;
  width: calc(100% - 51.23px);
  top: calc(50% - 10px);
  right: 51.23px;
  left: 0;
  align-items: center;
  gap: var(--gap-5xs);
}
.pchakra-text9 {
  position: absolute;
  width: calc(100% - 43px);
  top: calc(50% - 12.71px);
  right: -63.58px;
  left: 106.58px;
  height: 25px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-500);
}
.divchakra-stack13 {
  position: relative;
  width: 179.23px;
  height: 24px;
}
.divchakra-stack3,
.divchakra-stack6 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.divchakra-stack6 {
  width: 603.17px;
  overflow: hidden;
  padding: var(--padding-0) 421.4499816894531px var(--padding-0)
    var(--padding-0);
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.divchakra-stack3 {
  position: absolute;
  height: calc(100% - 470px);
  top: 0;
  bottom: 470px;
  left: calc(50% - 318.58px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  width: 637.17px;
  padding: var(--padding-mid);
}
.divchakra-stack2 {
  position: absolute;
  height: calc(100% - 467px);
  width: calc(100% - 458px);
  top: 233.5px;
  right: 410px;
  bottom: 233.5px;
  left: 48px;
  font-size: var(--font-size-xs);
}
.frame5,
.svg5 {
  position: absolute;
  width: 20px;
  height: 20px;
}
.frame5 {
  top: 0;
  left: calc(50% - 10px);
}
.svg5 {
  top: calc(50% - 10.5px);
  left: 0;
  overflow: hidden;
}
.description1 {
  margin: 0;
}
.description {
  position: absolute;
  top: 88.5px;
  left: 26px;
  line-height: 28px;
  font-weight: 600;
}
.pchakra-text10 {
  position: absolute;
  width: calc(100% - 24.11px);
  top: calc(50% - 14.5px);
  right: -119.89px;
  left: 144px;
}
.divchakra-stack16 {
  position: absolute;
  height: calc(100% - 283px);
  width: calc(100% - 500px);
  top: -54px;
  right: 483px;
  bottom: 337px;
  left: 17px;
}
.pchakra-text-child {
  position: absolute;
  top: 138px;
  left: 478px;
  width: 431px;
  height: 308px;
}
.access-the-gnosis {
  margin-bottom: 0;
}
.access-the-gnosis-chain-platfo {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.step-1-access-container1 {
  line-break: anywhere;
  width: 100%;
}
.step-1-access-container {
  position: absolute;
  top: 133px;
  left: -156px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 575px;
}
.pchakra-text11 {
  position: absolute;
  height: calc(100% + 115px);
  width: calc(100% - 33.83px);
  top: 0;
  right: -160.17px;
  bottom: -115px;
  left: 194px;
  font-size: var(--font-inherit);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inherit);
}
.divchakra-stack15 {
  position: absolute;
  height: calc(100% - 370px);
  top: 534px;
  bottom: -164px;
  left: calc(50% - 509.59px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 637px;
  font-size: var(--font-size-xl);
}
.claim-token-to {
  position: relative;
  line-height: 19.2px;
}
.link,
.link1 {
  position: absolute;
  height: calc(100% - 1151px);
  width: calc(100% - 801.17px);
  top: 1044px;
  right: 63.17px;
  bottom: 107px;
  left: 738px;
  border-radius: var(--br-xs);
  background-color: var(--color-limegreen-200);
  display: flex;
  flex-direction: row;
  padding: 13.399999618530273px 111.2300033569336px 14.600000381469727px
    102.7699966430664px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}
.link1 {
  top: 1151px;
  right: 67.17px;
  bottom: 0;
  left: 734px;
}
.examples-of-nouns {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 600;
}
.pchakra-text12 {
  position: absolute;
  height: calc(100% - 385px);
  width: calc(100% - 201.19px);
  top: 328px;
  right: 176.19px;
  bottom: 57px;
  left: 25px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 7.80999755859375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon5 {
  position: relative;
  width: 10.48px;
  height: 11.82px;
}
.frame6 {
  width: 16px;
  display: flex;
  flex-direction: row;
  padding: 2.4179999828338623px 2.4170002937316895px 1.765000581741333px
    3.0999999046325684px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.claim-issue-report {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.divchakra-stack19,
.pchakra-text13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.pchakra-text13 {
  padding: var(--padding-0) 1.589996337890625px var(--padding-0)
    var(--padding-0);
  align-items: flex-start;
}
.divchakra-stack19 {
  position: absolute;
  height: calc(100% - 394px);
  width: calc(100% - 216.41px);
  top: 369px;
  right: 191.41px;
  bottom: 25px;
  left: 25px;
  align-items: center;
  gap: var(--gap-9xs);
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray);
}
.j7jl0vs06s3deq80ehhnelx1rq2faz-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 288px;
  height: 288px;
  object-fit: cover;
}
.capture-decran-2023-07-23-a,
.span3 {
  position: absolute;
  top: -170.5px;
  left: -141.17px;
  width: 469px;
  height: 448px;
}
.span3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.divcss-1u95mlq {
  position: absolute;
  top: 23.5px;
  left: 24.83px;
  width: 288px;
  height: 288px;
}
.divchakra-stack18 {
  position: absolute;
  height: calc(100% - 322px);
  top: 0;
  bottom: 322px;
  left: calc(50% - 169px);
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 338px;
}
.achieved-accounts {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.divcss-1ee2lil,
.pchakra-text14 {
  position: absolute;
  top: calc(50% - 10px);
}
.pchakra-text14 {
  width: calc(100% - 95.18px);
  right: 59.18px;
  left: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 2.9499969482421875px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divcss-1ee2lil {
  width: calc(100% - 210.96px);
  right: -5.99px;
  left: 216.95px;
}
.vector-icon6 {
  position: relative;
  width: 21px;
  height: 21px;
}
.dotty-gray418199d2svg1 {
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs-5);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.dotty-gray418199d2svg,
.span4 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.dotty-gray418199d2svg {
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 24px;
  justify-content: center;
  min-width: 24px;
  max-width: 24px;
  min-height: 24px;
  max-height: 24px;
  z-index: 1;
}
.span4 {
  width: calc(100% - 262.13px);
  top: calc(50% - 8px);
  right: 254.13px;
  left: 8px;
  overflow: hidden;
  justify-content: flex-start;
  max-width: 286.1300048828125px;
}
.divchakra-stack21 {
  position: relative;
  width: 286.13px;
  height: 36px;
}
.haoxiaoeth-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.divcss-1y1nkkn {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-linen-200);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.divcss-01,
.pchakra-text15 {
  position: absolute;
  width: calc(100% - 288px);
  top: calc(50% - 16px);
  right: 280px;
  left: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text15 {
  width: calc(100% - 56px);
  top: calc(50% - 13px);
  right: 8px;
  left: 48px;
  overflow: hidden;
  padding: var(--padding-0) var(--padding-164xl) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
}
.divchakra-stack23 {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  width: 320px;
  height: 40px;
}
.pchakra-text16,
.pchakra-text17,
.pchakra-text18,
.pchakra-text19 {
  position: absolute;
  width: calc(100% - 56px);
  top: calc(50% - 13px);
  right: 8px;
  left: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) var(--padding-174xl) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.pchakra-text17,
.pchakra-text18,
.pchakra-text19 {
  padding: var(--padding-0) var(--padding-170xl) var(--padding-12xs)
    var(--padding-0);
}
.pchakra-text18,
.pchakra-text19 {
  padding: var(--padding-0) var(--padding-155xl) var(--padding-12xs)
    var(--padding-0);
}
.pchakra-text19 {
  padding: var(--padding-0) var(--padding-148xl) var(--padding-12xs)
    var(--padding-0);
}
.divchakra-stack20,
.divchakra-stack22 {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-100);
}
.divchakra-stack20 {
  position: absolute;
  height: calc(100% - 470px);
  top: 469.5px;
  bottom: 0.5px;
  left: calc(50% - 169.17px);
  border-radius: var(--br-base);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 338px;
  padding: var(--padding-4xs);
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
  color: var(--color-darkgray);
}
.divframer-gvo3gs-container {
  position: absolute;
  top: 394.5px;
  left: calc(50% - 141.17px);
  width: 294px;
}
.divchakra-stack17 {
  position: absolute;
  height: calc(100% - 467px);
  width: calc(100% - 757.17px);
  top: 233.5px;
  right: 48px;
  bottom: 233.5px;
  left: 709.17px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
}
.divcss-fk4jif {
  position: absolute;
  top: -35px;
  left: 325px;
  width: 1095.17px;
  height: 1199px;
  color: var(--color-darkgray);
}
.back-to-all {
  position: relative;
  line-height: 32px;
}
.pchakra-text20 {
  position: absolute;
  width: calc(100% - 45.36px);
  top: calc(50% - 17px);
  right: -1.14px;
  left: 46.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 5.6399993896484375px var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon7 {
  position: relative;
  width: 13.77px;
  height: 13.75px;
}
.frame7 {
  width: 20px;
  padding: 3.125px 3.103750228881836px 3.125px 3.125px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.button1,
.frame7,
.svg7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg7 {
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.button1 {
  position: absolute;
  top: calc(50% - 18px);
  left: 0;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  width: 36px;
  padding: var(--padding-5xs) var(--padding-4xs) var(--padding-5xs)
    var(--padding-6xs);
  justify-content: flex-start;
  min-width: 36px;
  min-height: 36px;
}
.divchakra-stack28 {
  position: absolute;
  top: 13.5px;
  left: -31.18px;
  width: 254px;
  height: 36px;
  overflow: hidden;
}
.divcss-1y21ojc,
.divcss-jkl58t {
  position: absolute;
  background-color: var(--color-snow);
  box-sizing: border-box;
}
.divcss-jkl58t {
  top: 137px;
  left: 55px;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  border-bottom: 1px solid var(--color-linen-200);
  width: 1431px;
  height: 73px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
}
.divcss-1y21ojc {
  width: calc(100% + 526px);
  top: calc(50% - 727px);
  right: -526px;
  left: 0;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-linen-200);
  height: 1433px;
}
.vector-icon8 {
  position: relative;
  width: 17.27px;
  height: 17.27px;
}
.frame8 {
  width: 20px;
  padding: 1.3625000715255737px 1.361249327659607px 1.3700000047683716px
    1.3725000619888306px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frame8,
.pchakra-text21,
.spanchakra-button-icon1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.spanchakra-button-icon1 {
  position: absolute;
  width: calc(100% - 200px);
  top: calc(50% - 10px);
  right: 185px;
  left: 15px;
  justify-content: flex-start;
}
.pchakra-text21 {
  padding: var(--padding-0) 0.8800010681152344px var(--padding-12xs)
    var(--padding-11xs);
  justify-content: center;
}
.divcss-1ldmaet {
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-darkorange-200);
  width: 8px;
  height: 8px;
}
.divcss-go2wv1,
.pchakra-text22 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divcss-go2wv1 {
  padding: var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
  z-index: 1;
}
.pchakra-text22 {
  align-items: flex-start;
  z-index: 0;
}
.divchakra-stack31 {
  border-radius: var(--br-13xl);
  background-color: var(--color-seashell);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 7.060001373291016px var(--padding-11xs)
    var(--padding-9xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  color: var(--color-darkslategray-100);
}
.divcss-e03czl {
  position: absolute;
  width: calc(100% - 58px);
  top: calc(50% - 13px);
  right: 17px;
  left: 41px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.button2,
.divchakra-stack30 {
  width: 220px;
  box-sizing: border-box;
}
.button2 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-linen-200);
  height: 48px;
  min-width: 40px;
}
.divchakra-stack30 {
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-0);
  align-items: center;
  justify-content: flex-start;
  color: var(--color-mediumslateblue-100);
}
.vector-icon9 {
  position: relative;
  width: 13.94px;
  height: 15.67px;
}
.frame9 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1237499713897705px 3.0199999809265137px 2.2087504863739014px
    3.0425000190734863px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.home {
  position: absolute;
  top: -1px;
  left: calc(50% - 21.97px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44.14px;
  height: 21px;
}
.pchakra-text23 {
  position: relative;
  width: 43.94px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button3 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 136.05999755859375px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-mini);
}
.vector-icon10 {
  position: relative;
  width: 13.1px;
  height: 14.77px;
}
.frame10 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 3.0225000381469727px 3.021249771118164px 2.2062501907348633px 3.875px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.level {
  position: absolute;
  top: -1px;
  left: calc(50% - 36.94px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74.09px;
  height: 21px;
}
.pchakra-text24 {
  position: relative;
  width: 73.89px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button4 {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 106.11000061035156px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
}
.vector-icon11 {
  position: relative;
  width: 15.6px;
  height: 15.63px;
}
.frame11 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 2.1875px 2.187500238418579px 2.1875px 2.211250066757202px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience {
  position: absolute;
  top: -1px;
  left: calc(50% - 38.46px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77.12px;
  height: 21px;
}
.pchakra-text25 {
  position: relative;
  width: 76.92px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button5 {
  position: absolute;
  top: 76px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-lavender-100);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 103.08000183105469px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  font-size: var(--font-size-smi);
  color: var(--color-mediumslateblue-100);
}
.divchakra-stack32 {
  position: relative;
  width: 220px;
  height: 111px;
}
.frame12,
.pchakra-text26 {
  width: 53.61px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame12 {
  width: 20px;
  padding: 1.3523246049880981px 1.3549989461898804px 1.3750008344650269px
    1.3749529123306274px;
  box-sizing: border-box;
}
.account1 {
  position: absolute;
  top: -1px;
  left: calc(50% - 30.76px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.72px;
  height: 21px;
}
.pchakra-text27 {
  position: relative;
  width: 61.52px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button6 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 118.47999572753906px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack33,
.pchakra-text28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divchakra-stack33 {
  width: 220px;
  flex-direction: column;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-gray-100);
}
.pchakra-text28 {
  width: 68.31px;
  flex-direction: row;
  padding: var(--padding-0) 0.30999755859375px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.vector-icon13 {
  position: relative;
  width: 17.27px;
  height: 8.94px;
}
.frame13 {
  width: 20px;
  display: flex;
  flex-direction: row;
  padding: 5.521912574768066px 1.3549995422363281px 5.539459228515625px 1.375px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.links {
  position: absolute;
  top: -1px;
  left: calc(50% - 19.11px);
  letter-spacing: 0.15px;
  line-height: 19.2px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.43px;
  height: 21px;
}
.pchakra-text29 {
  position: relative;
  width: 38.23px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.button7 {
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  width: 220px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) 141.77000427246094px var(--padding-sm)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-7xs);
  min-width: 40px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
.divchakra-stack29,
.divcss-y0pad {
  position: absolute;
  border-radius: var(--br-xl);
  width: 305px;
  height: 519px;
}
.divchakra-stack29 {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.divcss-y0pad {
  top: 235px;
  left: 24px;
  background-color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.page-experience-n32 {
  position: relative;
  width: 100%;
  height: 1412px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
