.image-icon {
  position: relative;
  width: 1519.5px;
  height: 1080px;
  object-fit: cover;
  z-index: 0;
}
.new2 {
  position: relative;
  line-height: 13.2px;
}
.divframer-xhvdkm {
  border-radius: var(--br-base);
  background-color: #7c54a9;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-10xs) 7.220001220703125px 4.190000534057617px
    var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
}
.defi-experience-available {
  position: relative;
  line-height: 16.8px;
}
.divframer-7ncycj,
.link10 {
  display: flex;
  justify-content: flex-start;
}
.divframer-7ncycj {
  flex-direction: column;
  padding: var(--padding-0) 2.970001220703125px var(--padding-0)
    var(--padding-10xs);
  align-items: flex-start;
  font-size: var(--font-size-smi);
  color: var(--color-darkslateblue-200);
}
.link10 {
  border-radius: var(--br-base);
  background-color: #e0d7ea;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs) var(--padding-9xs)
    var(--padding-9xs);
  align-items: center;
  gap: var(--gap-3xs);
  text-align: center;
}
.discover {
  position: relative;
  line-height: 48px;
  text-transform: uppercase;
}
.divframer-19xbngw {
  padding: var(--padding-0) 247px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 490px;
}
.divframer-19xbngw,
.divframer-1tslim6,
.divframer-ygd3m7 {
  width: 490px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.divframer-1tslim6 {
  padding: var(--padding-0) var(--padding-77xl) var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 490px;
}
.divframer-ygd3m7 {
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.learning-and-engaging {
  position: relative;
  font-weight: 900;
  background: linear-gradient(
    95.91deg,
    #404d84 5.21%,
    #c06deb 15.99%,
    #404d84 16%,
    #3e4c98 20.31%,
    #c06deb 32%,
    #c16281 32%,
    #daaab5 39.58%,
    #f45e5f 48%,
    #ce6564 58.33%,
    #efa598 69.79%,
    #9cacbf 82.81%,
    #c0d6a2 92.19%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.divframer-ik1l8j-container {
  width: 230.27px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 40px;
}
.divframer-1d9jrl6 {
  width: 490px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.embark-on-your {
  position: relative;
  line-height: 31.2px;
}
.pframer-text {
  position: absolute;
  height: calc(100% - 31.81px);
  width: 100%;
  top: 8.81px;
  right: 0;
  bottom: 23px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 207px 0.1900005340576172px var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-11g15lb {
  position: relative;
  width: 490px;
  height: 64px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 490px;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray);
}
.divframer-1u3vmnn {
  width: 490px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-29xl);
  color: var(--color-gray-400);
}
.get-started3 {
  position: relative;
  line-height: 19.2px;
}
.link11 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--color-sandybrown);
  display: flex;
  flex-direction: row;
  padding: 13.399999618530273px 111.2300033569336px 14.600000381469727px
    102.7699966430664px;
  align-items: center;
  justify-content: center;
}
.divframer-gvo3gs-container5 {
  width: 294px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-icon4 {
  position: relative;
  width: 24px;
  height: 24px;
}
.divframer-g8h6s6-container,
.svg122 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.svg122 {
  flex: 1;
  overflow: hidden;
  justify-content: center;
}
.divframer-g8h6s6-container {
  width: 24px;
  justify-content: flex-start;
}
.l3arn {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 71.36px;
  height: 21px;
}
.divframer-1tta95z {
  flex: 1;
  position: relative;
  height: 19.19px;
  overflow: hidden;
}
.divframer-1bj0y4t {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 0;
}
.frame-icon5 {
  position: relative;
  width: 20px;
  height: 20px;
}
.divframer-16typo1-container {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.link12,
.pseudo {
  border-radius: var(--br-xs);
}
.pseudo {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #e2dfff;
  box-sizing: border-box;
  z-index: 2;
}
.link12 {
  flex: 1;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.divframer-1tguap6,
.divframer-ivci4s-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.divframer-ivci4s-container {
  flex: 1;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-darkslateblue-200);
}
.divframer-1tguap6 {
  width: 490px;
  overflow: hidden;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: var(--font-size-base);
}
.diviseur-petit-ligne-blanche,
.introduction {
  position: absolute;
  margin: 0 !important;
  overflow: hidden;
}
.introduction {
  top: 251px;
  left: 25px;
  border-radius: 22px;
  background-color: var(--color-white);
  width: 554px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
  z-index: 1;
}
.diviseur-petit-ligne-blanche {
  width: 100%;
  right: 0;
  bottom: -1.19px;
  left: 0;
  border-radius: var(--br-5xl) var(--br-5xl) 0 0;
  background-color: var(--color-snow);
  height: 24px;
  flex-shrink: 0;
  z-index: 2;
}
.divframer-1cvrqom-child {
  position: relative;
  width: 138.51px;
  height: 127.99px;
  object-fit: cover;
}
.divframer-1cvrqom,
.span85 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.divframer-1cvrqom {
  width: 822px;
  height: 116px;
  padding: 0.019999999552965164px 686.1300048828125px 4.000000476837158px
    var(--padding-0);
  min-width: 722.1300048828125px;
}
.span85 {
  width: 37.92px;
  padding: var(--padding-0) var(--padding-0) var(--padding-0)
    var(--padding-12xs);
  z-index: 0;
}
.link13,
.pseudo1 {
  border-radius: var(--br-5xs);
}
.pseudo1 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  z-index: 1;
}
.link13 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-xs);
  align-items: center;
  justify-content: center;
  position: relative;
}
.divframer-px3zsv-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
  color: var(--color-darkslategray-100);
}
.team {
  position: relative;
  line-height: 14px;
}
.divframer-mizgsx,
.span86 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.span86 {
  width: 34.5px;
  flex-direction: row;
  padding: var(--padding-0) 0.5px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.divframer-mizgsx {
  flex-direction: column;
}
.frame-icon6 {
  position: relative;
  width: 16px;
  height: 16px;
}
.divframer-154idwg-container {
  width: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-icxdue,
.link14 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-icxdue {
  gap: var(--gap-9xs);
  z-index: 0;
}
.link14 {
  border-radius: var(--br-5xs);
  padding: var(--padding-xs) var(--padding-5xs) var(--padding-xs)
    var(--padding-xs);
  position: relative;
}
.divframer-11pliaz-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.span87 {
  width: 73.09px;
  padding: var(--padding-0) 1.089996337890625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  justify-content: center;
}
.divframer-hyfadc-container,
.span87,
.span88 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.divframer-hyfadc-container {
  justify-content: flex-start;
  z-index: 2;
}
.span88 {
  width: 21.92px;
  justify-content: center;
}
.divframer-u6qzx1-container {
  justify-content: flex-start;
  z-index: 3;
  font-size: var(--font-size-xs);
}
.divframer-193fho5-container,
.divframer-u6qzx1-container,
.span89 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.span89 {
  width: 28.33px;
  padding: var(--padding-0) 0.3299999237060547px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  justify-content: center;
}
.divframer-193fho5-container {
  justify-content: flex-start;
  z-index: 4;
}
.divframer-h314k6,
.pseudo6 {
  border-radius: var(--br-base);
}
.pseudo6 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid rgba(233, 229, 221, 0.5);
  box-sizing: border-box;
  z-index: 5;
}
.divframer-h314k6 {
  background-color: var(--color-white);
  padding: var(--padding-5xs) 8.000015258789062px var(--padding-5xs)
    var(--padding-5xs);
  align-items: center;
  position: relative;
  gap: var(--gap-5xs);
}
.divframer-h314k6,
.divframer-taxvkj-container,
.link18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.divframer-taxvkj-container {
  align-items: flex-start;
  min-width: 427.760009765625px;
  margin-left: -380px;
}
.link18 {
  border-radius: var(--br-xs);
  background-color: var(--color-sandybrown);
  width: 177px;
  height: 65px;
  padding: 13.40999984741211px 32.470001220703125px 14.59000015258789px
    var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
}
.divframer-7pmrb3 {
  width: 848px;
  flex-direction: column;
  padding: var(--padding-0) 0.000030517578125px var(--padding-0)
    585.6599731445312px;
  box-sizing: border-box;
  justify-content: flex-start;
  min-width: 722.1300048828125px;
  margin-left: -380px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.barre-de-nav,
.divframer-7pmrb3,
.nav {
  display: flex;
  align-items: center;
}
.barre-de-nav {
  width: 1215px;
  height: 113px;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-0);
  box-sizing: border-box;
  justify-content: center;
  max-width: 1920px;
}
.nav {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 489px);
  left: calc(50% - 635px);
  width: 1302px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 3;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.divframer-29orjw,
.panneau-1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.panneau-1 {
  background-color: var(--color-black);
  width: 1502px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-white);
}
.divframer-29orjw {
  background-color: var(--color-darkslateblue-100);
  width: 395.34px;
  height: 3px;
}
.divframer-15bkj6r {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base-5) var(--padding-0);
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.divframer-13p91mx-container,
.divframer-63e09b {
  position: absolute;
  display: flex;
  align-items: flex-start;
}
.divframer-13p91mx-container {
  top: calc(50% - 24.19px);
  left: calc(50% - 616px);
  width: 289px;
  flex-direction: row;
  justify-content: flex-start;
}
.divframer-63e09b {
  top: calc(50% - 24px);
  left: calc(50% - 327.16px);
  flex-direction: column;
  padding: var(--padding-0) 15.329986572265625px var(--padding-0)
    var(--padding-sm);
  justify-content: flex-end;
}
.divframer-29orjw1 {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 395.35px;
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-rqmtfk-container {
  position: absolute;
  top: calc(50% - 24.19px);
  left: calc(50% + 327px);
  width: 289px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-fcp6mx {
  position: relative;
  width: 1232px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1280px;
}
.divframer-1bpwmf1 {
  position: absolute;
  height: calc(100% + 0.21px);
  width: calc(100% - 196.95px);
  top: 0;
  right: 340.45px;
  bottom: -0.21px;
  left: -143.5px;
  max-width: 768px;
}
.heading-2 {
  position: absolute;
  top: 0.81px;
  left: calc(50% - 380px);
  line-height: 76.8px;
}
.divframer-1w6twvx {
  position: absolute;
  top: calc(50% - 97.39px);
  left: calc(50% - 404px);
  width: 768px;
  height: 76.79px;
  overflow: hidden;
}
.experience-the-power {
  position: relative;
  letter-spacing: -0.5px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 871px;
  flex-shrink: 0;
}
.divframer-6kc6is,
.heading-21 {
  width: 768px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-21 {
  flex-direction: row;
  padding: var(--padding-0) var(--padding-11xs) var(--padding-12xs)
    var(--padding-0);
  box-sizing: border-box;
}
.divframer-6kc6is {
  position: absolute;
  top: calc(50% - 11.58px);
  left: calc(50% - 384px);
  flex-direction: column;
  max-width: 768px;
  text-align: left;
  font-size: var(--font-size-5xl);
}
.divframer-nw1ujj {
  position: relative;
  width: 768px;
  height: 194.79px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 768px;
}
.divframer-5apapq {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 82.5px);
}
.get-started5 {
  position: absolute;
  top: 23.21px;
  left: calc(50% - 79.5px);
  line-height: 18px;
}
.divframer-5wpwc2-container {
  position: absolute;
  top: calc(50% - 8.79px);
  left: calc(50% + 70.5px);
  width: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.link19 {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-sandybrown);
  width: 205px;
  height: 66px;
}
.divframer-3wws4p-container {
  width: 121.02px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-6xl);
  color: #fefeff;
}
.divframer-1h7ubfw {
  width: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-77xl) 256px var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.ysm8nmktsf750u1a0at8z41qpng-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 80px;
  object-fit: cover;
}
.divframer-1ks9sk {
  width: 80px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-3 {
  position: relative;
  line-height: 33.6px;
}
.divframer-s11gfa {
  position: absolute;
  width: calc(100% - 299.85px);
  top: calc(50% - 44.8px);
  right: 299.85px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 1.339996337890625px 0.5999984741210938px
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.engage-in-interactive {
  margin: 0;
}
.engage-in-interactive-container {
  position: relative;
  line-height: 22px;
}
.divframer-qg1gs0,
.pframer-text1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text1 {
  width: 411.19px;
  flex-direction: row;
  padding: var(--padding-0) 59.19000244140625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.divframer-qg1gs0 {
  position: absolute;
  width: 100%;
  top: calc(50% - 5.2px);
  right: 0;
  left: 0;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-1e7ywhx {
  flex: 1;
  position: relative;
  height: 87.6px;
  overflow: hidden;
}
.divframer-drbfyz,
.pframer-text2 {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-drbfyz {
  position: absolute;
  width: calc(100% - 294.97px);
  top: calc(50% - 44.79px);
  right: 294.97px;
  left: 0;
  flex-direction: column;
  padding: var(--padding-0) 3.220001220703125px 0.5900001525878906px
    var(--padding-0);
}
.pframer-text2 {
  width: 411.19px;
  flex-direction: row;
  padding: var(--padding-0) 22.19000244140625px var(--padding-0)
    var(--padding-0);
}
.divframer-1se1xwx {
  flex: 1;
  position: relative;
  height: 87.59px;
  overflow: hidden;
}
.divframer-1labwdg {
  width: 506.19px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.divframer-1h5b43z {
  position: absolute;
  width: calc(100% - 298.78px);
  top: calc(50% - 51.58px);
  right: 298.78px;
  left: 0;
  flex-direction: column;
  padding: var(--padding-0) 2.410003662109375px 0.5999984741210938px
    var(--padding-0);
  box-sizing: border-box;
}
.divframer-14588ts,
.divframer-1h5b43z,
.pframer-text3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pframer-text3 {
  width: 411.19px;
  flex-direction: row;
  padding: var(--padding-0) 14.19000244140625px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
}
.divframer-14588ts {
  position: absolute;
  width: 100%;
  top: calc(50% - 21.58px);
  right: 0;
  left: 0;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.divframer-5rrw4d,
.divframer-s9ql23 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.divframer-5rrw4d {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 538.19px;
  padding: var(--padding-base);
  justify-content: flex-start;
}
.divframer-s9ql23 {
  flex: 1;
  padding: 52.61000061035156px var(--padding-5xl) 52.600013732910156px;
  justify-content: center;
  gap: var(--gap-5xl);
  min-width: 586.1900024414062px;
  max-width: 1232px;
}
.capture-decran-2023-07-22-a {
  position: relative;
  width: 1093.09px;
  height: 607.23px;
  object-fit: cover;
}
.atkuwgqtjemaqstmakjtnfzlmqpng-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  height: 506.12px;
  object-fit: cover;
}
.divframer-1ys5o81 {
  position: absolute;
  height: calc(100% + 95.23px);
  width: calc(100% + 164px);
  top: -44.67px;
  right: -176px;
  bottom: -50.55px;
  left: 12px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divframer-1ax1cz6 {
  flex: 1;
  position: relative;
  height: 512px;
  overflow: hidden;
  min-width: 645.8099975585938px;
}
.divframer-1wuwanx {
  width: 1232px;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-4xl);
}
.divframer-1wuwanx,
.divframer-a2zod0,
.header,
.panneau-2-unlock-your-poten {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: #d7badf;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 0.009979248046875px;
  gap: var(--gap-5xl);
}
.divframer-a2zod0,
.panneau-2-unlock-your-poten {
  max-width: 1280px;
}
.divframer-a2zod0 {
  width: 1232px;
  flex-direction: row;
  font-size: 62px;
  color: var(--color-gray-200);
}
.panneau-2-unlock-your-poten {
  background-color: var(--color-snow);
  width: 1280px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-5xl) 24.010009765625px;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.divframer-29orjw2 {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 424.05px;
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-1cnxjck-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 424.04998779296875px;
}
.divframer-1l7woxr {
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 13.899993896484375px var(--padding-0)
    var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 359.8999938964844px;
}
.divframer-1jmlo0p {
  width: 1232px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 1280px;
}
.lz3ut30tqkxsfuijogquvoywyepng-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-237xl);
  max-width: 100%;
  overflow: hidden;
  height: 320px;
  object-fit: cover;
}
.divframer-zvfb7l {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.create-your-account-container {
  position: relative;
  line-height: 28.8px;
}
.divframer-iq92uh {
  position: absolute;
  height: calc(100% - 90.2px);
  top: -1px;
  bottom: 91.2px;
  left: calc(50% - 173.34px);
  width: 346.67px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 57.37001419067383px 0.7999992370605469px
    57.29999923706055px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-and-container1 {
  line-break: anywhere;
  width: 100%;
}
.sign-up-and-container {
  position: absolute;
  top: 15.2px;
  left: calc(50% - 161.34px);
  line-height: 23.4px;
  display: flex;
  align-items: center;
  width: 321px;
  height: 65px;
}
.pframer-text4 {
  position: relative;
  width: 346.67px;
  height: 46.78px;
}
.divframer-jics4j {
  position: absolute;
  height: calc(100% - 73.22px);
  top: 36.8px;
  bottom: 36.42px;
  left: calc(50% - 173.34px);
  width: 346.67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 346.6700134277344px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.divframer-1hudja9 {
  flex: 1;
  position: relative;
  width: 346.67px;
  overflow: hidden;
}
.divframer-3xhhex,
.divframer-c8el3u {
  display: flex;
  justify-content: flex-start;
}
.divframer-c8el3u {
  position: absolute;
  top: 0;
  left: calc(50% - 616px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 394.67px;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--font-size-4xl);
}
.divframer-3xhhex {
  border-radius: var(--br-237xl);
  width: 320px;
  flex-direction: row;
  align-items: flex-start;
}
.experience8 {
  color: #ff8000;
}
.divframer-koz047,
.pframer-text5 {
  width: 346.67px;
  display: flex;
  align-items: flex-start;
}
.pframer-text5 {
  flex-direction: row;
  padding: var(--padding-0) 30.25001335144043px 0.7999992370605469px
    30.420000076293945px;
  box-sizing: border-box;
  justify-content: center;
}
.divframer-koz047 {
  position: absolute;
  height: calc(100% - 90.2px);
  top: -1px;
  bottom: 91.2px;
  left: calc(50% - 173.34px);
  flex-direction: column;
  justify-content: flex-start;
}
.browse-our-selection-container {
  position: relative;
  line-height: 23.4px;
  display: flex;
  align-items: center;
  width: 327px;
  height: 111px;
  flex-shrink: 0;
}
.pframer-text6 {
  width: 346.67px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 27.46001434326172px var(--padding-0)
    28.209999084472656px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.divframer-bx5koi,
.divframer-es7di {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.divframer-bx5koi {
  height: calc(100% - 9px);
  top: 4.8px;
  bottom: 4.2px;
  left: calc(50% - 173.34px);
  width: 346.67px;
  align-items: flex-start;
  max-width: 346.6700134277344px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.divframer-es7di {
  top: 0;
  left: calc(50% - 197.33px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 394.67px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-5xl);
}
.steps {
  color: var(--color-darkorange-200);
}
.divframer-qfsz04,
.pframer-text7 {
  width: 346.68px;
  display: flex;
  align-items: flex-start;
}
.pframer-text7 {
  flex-direction: row;
  padding: var(--padding-0) 63.219993591308594px 0.7999992370605469px
    61.459999084472656px;
  box-sizing: border-box;
  justify-content: center;
}
.divframer-qfsz04 {
  position: absolute;
  height: calc(100% - 90.2px);
  top: -1px;
  bottom: 91.2px;
  left: calc(50% - 173.34px);
  flex-direction: column;
  justify-content: flex-start;
}
.dive-into-your-container {
  position: relative;
  line-height: 23.4px;
  display: flex;
  align-items: center;
  width: 320px;
}
.divframer-1xcw8hp,
.pframer-text8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.pframer-text8 {
  width: 346.68px;
  padding: var(--padding-0) 2.67999267578125px 0.3899993896484375px
    var(--padding-9xs);
  box-sizing: border-box;
  align-items: center;
}
.divframer-1xcw8hp {
  position: absolute;
  height: calc(100% - 2.61px);
  top: 0.99px;
  bottom: 1.62px;
  left: calc(50% - 173.34px);
  width: 346.67px;
  align-items: flex-start;
  max-width: 346.6700134277344px;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.divframer-1l7i8oc {
  flex: 1;
  position: relative;
  width: 346.68px;
  overflow: hidden;
}
.divframer-139jdsh {
  position: absolute;
  top: 0;
  left: calc(50% + 221.34px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 394.67px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl) 23.990020751953125px var(--padding-5xl)
    var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.divframer-1a7pbcy {
  position: relative;
  width: 1232px;
  height: 512px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1280px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkslategray-100);
}
.panneau-3-how-to-play {
  width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
  color: var(--color-darkslateblue-100);
}
.divframer-29orjw4 {
  position: relative;
  background-color: var(--color-darkslateblue-100);
  width: 313.77px;
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-10xgs95-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 313.7699890136719px;
}
.divframer-18g420e {
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 17.46002197265625px var(--padding-0)
    var(--padding-mid);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-end;
  min-width: 580.4600219726562px;
}
.divframer-4w1knt {
  width: 1232px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-0) 0.000030517578125px var(--padding-0)
    var(--padding-0);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 1280px;
}
.vector-icon122 {
  position: relative;
  width: 48px;
  height: 39.01px;
}
.divframer-z5tj6m,
.image78 {
  width: 49px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.image78 {
  overflow: hidden;
  flex-shrink: 0;
  padding: 0.49287474155426025px 0.75px 0.49399125576019287px 0.25px;
  box-sizing: border-box;
}
.divframer-z5tj6m {
  position: absolute;
  top: 4px;
  left: 0;
}
.divframer-29fkbj {
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-a5tyne {
  position: absolute;
  top: 32px;
  left: calc(50% - 40.33px);
  border-radius: 56px;
  background-color: #53b6ff;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.divframer-1bix8f1 {
  position: absolute;
  height: calc(100% - 215.01px);
  top: 127px;
  bottom: 88.01px;
  left: calc(50% - 113.33px);
  width: 226px;
  flex-direction: column;
  padding: var(--padding-0) 22.049999237060547px 0.7900009155273438px
    22.950000762939453px;
  box-sizing: border-box;
}
.divframer-1bix8f1,
.divframer-1g9tish-container,
.divframer-1jn56rz {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1jn56rz {
  flex-direction: column;
  padding: var(--padding-0) 2.8600006103515625px var(--padding-0)
    var(--padding-11xs);
  z-index: 0;
}
.divframer-1g9tish-container {
  width: 16px;
  flex-direction: row;
  z-index: 1;
}
.pseudo7 {
  position: absolute;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-linen-200);
  box-sizing: border-box;
  z-index: 2;
}
.divframer-aswy28-container,
.link20 {
  width: 160px;
  display: flex;
  flex-direction: row;
}
.link20 {
  border-radius: var(--br-21xl);
  padding: 11.609999656677246px var(--padding-base) 11.390000343322754px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.divframer-aswy28-container {
  position: absolute;
  height: calc(100% - 204.8px);
  top: 172.79px;
  bottom: 32.01px;
  left: calc(50% - 80.33px);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
}
.divframer-ttxvfo {
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  height: 244.8px;
  min-width: 290px;
  font-size: var(--font-size-4xl);
}
.svg-2080539423-2943-icon {
  position: relative;
  width: 48px;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-kl6att,
.frame118 {
  width: 48px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-kl6att {
  overflow: hidden;
  flex-shrink: 0;
  padding: 5px var(--padding-0) var(--padding-7xs);
  box-sizing: border-box;
}
.divframer-1snlpco {
  position: absolute;
  top: 32px;
  left: calc(50% - 40.33px);
  border-radius: 48px;
  background-color: #6868e5;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.divframer-1jn56rz1,
.divframer-c4g5nu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-c4g5nu {
  position: absolute;
  height: calc(100% - 215.01px);
  top: 127px;
  bottom: 88.01px;
  left: calc(50% - 113.33px);
  width: 226px;
  padding: var(--padding-0) 29.200000762939453px 0.7900009155273438px
    29.799999237060547px;
  box-sizing: border-box;
}
.divframer-1jn56rz1 {
  padding: var(--padding-0) 0.55999755859375px var(--padding-0) var(--padding-0);
  z-index: 0;
}
.svg2119534450-1294-icon {
  position: relative;
  width: 49px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.divframer-1bafmeh,
.frame119 {
  display: flex;
  flex-direction: row;
}
.frame119 {
  width: 49px;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1bafmeh {
  position: absolute;
  top: 32px;
  left: calc(50% - 40.83px);
  border-radius: 80px;
  background-color: var(--color-black);
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.divframer-1be4hhv,
.divframer-1jn56rz2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1be4hhv {
  position: absolute;
  height: calc(100% - 215.01px);
  top: 127px;
  bottom: 88.01px;
  left: calc(50% - 113.33px);
  width: 226px;
  padding: var(--padding-0) 35.86000061035156px 0.7900009155273438px
    34.13999938964844px;
  box-sizing: border-box;
}
.divframer-1jn56rz2 {
  padding: var(--padding-0) 2.769996643066406var (--padding-11xs)
    var(--padding-0) 2px;
  z-index: 0;
}
.divframer-1okfsnf {
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  height: 244.8px;
  min-width: 290px;
}
.divframer-1ld1i3k {
  position: absolute;
  top: calc(50% - 122.18px);
  left: calc(50% - 616px);
  width: 1232px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.divframer-ptd4hm {
  position: relative;
  width: 1232px;
  height: 326px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 1280px;
  font-size: var(--font-size-3xl);
}
.panneau-4-join-our-community {
  width: 1280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.heading-6 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 25.2px;
}
.divframer-1jgbggs {
  width: 190.91px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 128.91000366210938px 0.1900005340576172px
    var(--padding-0);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.link-home {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 43.53px;
  height: 21px;
}
.divframer-fxisxp {
  position: relative;
  width: 190.91px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
}
.link-job,
.link-team {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 39.64px;
  height: 21px;
}
.link-job {
  width: 25.25px;
}
.divframer-of6qw9 {
  position: relative;
  width: 190.91px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
}
.link-blog,
.link-docs {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 37.45px;
  height: 21px;
}
.link-blog {
  width: 32.58px;
}
.divframer-1of5prv {
  width: 190.91px;
  padding: var(--padding-0) var(--padding-0) 0.0000019073486328125px;
  box-sizing: border-box;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
}
.divframer-136mr39,
.divframer-1of5prv,
.divframer-sig6s6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-sig6s6 {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 190.91000366210938px;
}
.divframer-136mr39 {
  width: 190.91px;
  overflow: hidden;
  padding: var(--padding-0) 147.91000366210938px 0.1900005340576172px
    var(--padding-0);
  box-sizing: border-box;
  justify-content: center;
}
.link-phi,
.link-phi1,
.link-playground {
  position: absolute;
  top: -1px;
  left: -0.3px;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 117px;
  height: 21px;
}
.link-phi1,
.link-playground {
  left: 0;
  width: 61.51px;
}
.link-playground {
  width: 80.9px;
}
.divframer-15ou3 {
  width: 190.91px;
  justify-content: flex-end;
  gap: var(--gap-base);
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
}
.divframer-15ou3,
.divframer-19pog0s,
.divframer-398hum {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divframer-19pog0s {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 190.91000366210938px;
  font-size: var(--font-size-lg);
}
.divframer-398hum {
  width: 84.88px;
  padding: var(--padding-0) 1.8799972534179688px 0.1900005340576172px
    var(--padding-0);
  box-sizing: border-box;
  justify-content: center;
}
.link-brand,
.link-partnership {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 83.75px;
  height: 21px;
}
.link-brand {
  width: 85.67px;
}
.divframer-139hzgd,
.divframer-1stdbbb {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}
.divframer-139hzgd {
  flex: 1;
  padding: var(--padding-0) var(--padding-0) 18.43000030517578px;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 190.91000366210938px;
}
.divframer-1stdbbb {
  width: 190.91px;
  overflow: hidden;
  padding: var(--padding-0) 87.91000366210938px 0.1900005340576172px
    var(--padding-0);
  justify-content: center;
}
.link-privacy,
.link-terms {
  position: absolute;
  top: -1px;
  left: 0;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  width: 97.51px;
  height: 21px;
}
.link-terms {
  width: 118.72px;
}
.divframer-f4hjqm {
  position: relative;
  width: 190.91px;
  height: 19.19px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-mini);
}
.divframer-p5ody2,
.divframer-y2d4sq {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-y2d4sq {
  width: 190.91px;
  flex-direction: column;
  padding: var(--padding-0) var(--padding-0) 0.0000019073486328125px;
  box-sizing: border-box;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.divframer-p5ody2 {
  position: absolute;
  top: -1px;
  left: calc(50% - 209.61px);
  width: 793.61px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.divframer-19w2hbr-child {
  position: absolute;
  top: -35.42px;
  left: 13px;
  width: 285px;
  height: 263px;
  object-fit: cover;
}
.divframer-19w2hbr {
  position: relative;
  width: 1168px;
  height: 201.13px;
}
.copyright-2022 {
  position: relative;
  line-height: 16.8px;
  text-transform: uppercase;
}
.divframer-tvlwu1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-0) 882px var(--padding-0) var(--padding-0);
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon123 {
  position: relative;
  width: 24px;
  height: 19.51px;
}
.frame120,
.img {
  width: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame120 {
  padding: 2.246494770050049px var(--padding-0) 2.246995449066162px;
  box-sizing: border-box;
  justify-content: flex-start;
}
.img {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.vector-icon124 {
  position: relative;
  width: 24px;
  height: 18.29px;
}
.frame121 {
  position: absolute;
  top: 0;
  left: calc(50% - 12px);
  width: 24px;
  display: flex;
  flex-direction: row;
  padding: 2.8533430099487305px var(--padding-0) 2.8533620834350586px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.img1,
.vector-icon125 {
  position: relative;
  width: 24px;
}
.img1 {
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon125 {
  height: 23.41px;
}
.frame122 {
  width: 24px;
  display: flex;
  flex-direction: row;
  padding: 0.296999990940094px var(--padding-0) 0.2972669005393982px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divframer-1fkbef0,
.divframer-575ka8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xl);
}
.divframer-1fkbef0 {
  width: 1168px;
  gap: var(--gap-3xs);
}
.divframer-1nvcxc,
.footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.divframer-1nvcxc {
  border-radius: var(--br-5xl);
  background-color: var(--color-white);
  width: 1232px;
  padding: var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1232px;
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
}
.footer {
  background-color: var(--color-snow);
  width: 1920px;
  padding: var(--padding-5xl) 344px;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-mid);
}
.site-web,
.tout-le-site-tout-le-long {
  height: 3804px;
  display: flex;
  justify-content: flex-start;
}
.tout-le-site-tout-le-long {
  flex: 1;
  background-color: var(--color-linen-100);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.site-web {
  position: relative;
  background-color: var(--color-linen-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
