@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-smi: 13px;
  --font-size-mini: 15px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xs: 11px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-7xl: 26px;
  --font-size-6xl: 25px;
  --font-size-10xl: 29px;
  --font-size-11xl: 30px;
  --font-size-mid: 17px;
  --font-size-3xl: 22px;
  --font-size-4xl: 23px;
  --font-size-29xl: 48px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #808080;
  --color-gray-200: #392c35;
  --color-gray-300: #292929;
  --color-gray-400: #292828;
  --color-gray-500: #1c1b1b;
  --color-gray-600: #1a1a1a;
  --color-lavender-100: #f2efff;
  --color-mediumslateblue-100: #8283ff;
  --color-black: #000;
  --color-linen-100: #f3f0e8;
  --color-linen-200: #e9e5dd;
  --color-seashell: #f6f3ed;
  --color-darkslategray-100: #383736;
  --color-darkslategray-200: #333;
  --color-darkorange-100: #ff7c1e;
  --color-darkorange-200: #ff7f00;
  --color-snow: #fbf9f5;
  --color-darkgray: #99968f;
  --color-limegreen-100: #5dd300;
  --color-limegreen-200: #00ce52;
  --color-limegreen-300: #18ac00;
  --color-dimgray: #5a5957;
  --color-blanchedalmond: #ffefd0;
  --color-darkgoldenrod: #b38b0e;
  --color-sandybrown: #fb9855;
  --color-lightgray: #d0ccc3;
  --color-paleturquoise: #bdffdf;
  --color-mediumseagreen: #00a578;
  --color-darkslateblue-100: #414e84;
  --color-darkslateblue-200: #3c4893;
  --color-aquamarine: #4cdeaa;

  /* Gaps */
  --gap-10xl: 29px;
  --gap-5xs: 8px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-9xs: 4px;
  --gap-base: 16px;
  --gap-165xl: 184px;
  --gap-68xl: 87px;
  --gap-7xs-2: 5.2px;
  --gap-3xs: 10px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-122xl-8: 141.8px;
  --padding-7xs-5: 5.5px;
  --padding-11xs-4: 1.4px;
  --padding-12xs-3: 0.3px;
  --padding-99xl-5: 118.5px;
  --padding-84xl-1: 103.1px;
  --padding-10xs-2: 2.2px;
  --padding-87xl-1: 106.1px;
  --padding-10xs: 3px;
  --padding-9xs-9: 3.9px;
  --padding-117xl-1: 136.1px;
  --padding-10xs-1: 2.1px;
  --padding-mini: 15px;
  --padding-11xs: 2px;
  --padding-5xs-1: 7.1px;
  --padding-9xs: 4px;
  --padding-12xs-9: 0.9px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-6xs: 7px;
  --padding-9xs-1: 3.1px;
  --padding-7xs-6: 5.6px;
  --padding-148xl: 167px;
  --padding-155xl: 174px;
  --padding-170xl: 189px;
  --padding-174xl: 193px;
  --padding-164xl: 183px;
  --padding-11xs-5: 1.5px;
  --padding-10xs-9: 2.9px;
  --padding-11xs-6: 1.6px;
  --padding-10xs-4: 2.4px;
  --padding-11xs-8: 1.8px;
  --padding-5xs-8: 7.8px;
  --padding-sm-4: 13.4px;
  --padding-92xl-2: 111.2px;
  --padding-mini-6: 14.6px;
  --padding-83xl-8: 102.8px;
  --padding-lgi: 19px;
  --padding-mid: 17px;
  --padding-402xl-4: 421.4px;
  --padding-32xl: 51px;
  --padding-11xs-1: 1.1px;
  --padding-60xl: 79px;
  --padding-49xl: 68px;
  --padding-11xs-7: 1.7px;
  --padding-11xs-2: 1.2px;
  --padding-5xs-6: 7.6px;
  --padding-9xs-2: 3.2px;
  --padding-8xs-1: 4.1px;
  --padding-10xs-5: 2.5px;
  --padding-xs: 12px;
  --padding-8xs-4: 4.4px;
  --padding-smi-9: 12.9px;
  --padding-8xs-3: 4.3px;
  --padding-8xs-2: 4.2px;
  --padding-0: 0px;
  --padding-12xs-1: 0.1px;
  --padding-7xs: 6px;
  --padding-10xl: 29px;
  --padding-98xl-9: 117.9px;
  --padding-12xs-6: 0.6px;
  --padding-xs-9: 11.9px;
  --padding-189xl-2: 208.2px;
  --padding-113xl: 132px;
  --padding-4xs-3: 8.3px;
  --padding-105xl-3: 124.3px;
  --padding-12xs-2: 0.2px;
  --padding-base-9: 15.9px;
  --padding-9xs-8: 3.8px;
  --padding-smi: 13px;
  --padding-3xs: 10px;
  --padding-4xs-1: 8.1px;
  --padding-7xs-4: 5.4px;
  --padding-5xs-2: 7.2px;
  --padding-63xl: 82px;
  --padding-230xl: 249px;
  --padding-10xs-3: 2.3px;
  --padding-8xs-7: 4.7px;
  --padding-127xl-6: 146.6px;
  --padding-4xs-6: 8.6px;
  --padding-xs-5: 11.5px;
  --padding-219xl-1: 238.1px;
  --padding-982xl-6: 1001.6px;
  --padding-9xs-4: 3.4px;
  --padding-8xs-5: 4.5px;
  --padding-5xl: 24px;
  --padding-13xl: 32px;
  --padding-lg-4: 18.4px;
  --padding-xs-6: 11.6px;
  --padding-base: 16px;
  --padding-xs-4: 11.4px;
  --padding-12xs-8: 0.8px;
  --padding-base-5: 15.5px;
  --padding-77xl: 96px;
  --padding-12xs-7: 0.7px;
  --padding-24xl: 43px;
  --padding-2xs: 11px;
  --padding-320xl-5: 339.5px;
  --padding-10xs-8: 2.8px;
  --padding-33xl: 52px;
  --padding-8xs-6: 4.6px;
  --padding-6xs-8: 6.8px;
  --padding-6xs-6: 6.6px;

  /* border radiuses */
  --br-xl: 20px;
  --br-xs: 12px;
  --br-13xl: 32px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-7xs: 6px;
  --br-5xl: 24px;
  --br-21xl: 40px;
  --br-237xl: 256px;
  --br-9xl: 28px;
  --br-33xl: 52px;
}
